[2016-05-20 19:33] goldenwebsites opened #1 "Great achievement"
Not really an issue, but just wondering, how did you manage to achieve such a stable download chart on npm

http://npm-stat.com/charts.html?package=cordova-plugin-admob-free&author=&from=2015-05-21&to=2016-05-20

It's quite rare actually and quite unheard of. Check native storage for example.

http://npm-stat.com/charts.html?package=cordova-plugin-nativestorage&author=&from=2015-05-21&to=2016-05-2

[2016-05-21 02:01] ratson commented on #1
Thanks for the information, no idea how `npm` counts downloads.
Let me know if you find out the answer.

Did not submit to any list, but not sure if mentioned in any list.

[2016-05-21 02:01] #1 closed

[2016-07-03 01:06] GitCod-Man opened #2 "the admob-free will not work in the xdk 3357"
when I use the old xdk version ,it works better. but in the new xdk version,I have add the plugin into it ,when I build my app and download it, the ad not show,

[2016-07-03 01:14] ratson commented on #2
Thank you for the report.

I have no experience about xdk, don't know how to setup it. If you could create a repo. with instructions about how to produce the problem, I would take a look.

Any pull request to fix it is welcome.

[2016-07-12 16:45] hypersurge commented on #2
I had success with XDK 3357, however not initially.  To resolve I built a minimalist example noting the Cordova network request whitelist needed to be very permissive.  I also noted that for iOS test-mode it is necessary to include the device hash in CDVAdMob.m (~line 750).  I also changed AdMob.js prepareInterstitial() to pass "args" onwards to the internal functions.  I cannot say concretely whi

[2016-07-13 11:42] ratson commented on #2
@hypersurge Thank you for the input, I have changed the code according to your comment.

@GitCod-Man Would you let me know if it fixes your problem?

[2016-07-13 15:32] hypersurge opened #3 "Family friendly and age appropriate ad filtering (for iOS)"
@ratson thank you for this plugin.

I can see settings within "wp8" and "android" plugins for age appropriate settings ("birthday" and "forChild" / "forFamily" respectively).  However I can't find similar options within the iOS plugin.

Is this by design or outside of the scope of this Admob plugin for iOS?  Might it be possible to include the same options across all plugins in a consistent way?

[2016-07-13 15:40] ratson commented on #3
I am not sure if iOS has the equivalent feature.

It should be safe to pass those options, which will just be ignored for iOS.

[2016-07-13 19:58] hypersurge commented on #3
There is some reference here to age appropriate options (classified under iOS):
https://firebase.google.com/docs/admob/ios/targeting

[2016-07-14 00:22] ratson commented on #3
@hypersurge Thanks for the reference, will take a look this weekend.

Feel free to send pull request if you would like to fix it, I will review that as soon as I can.

[2016-07-14 04:55] russellchapin opened #4 "(Question) Keeping up to date with AdMob SDK"
Just came across this plugin yesterday (thanks for forking a free version, btw) and received this message in XCode: <code>You are currently using version 7.7.0 of the SDK. Please consider updating your SDK to the most recent SDK version to get the latest features and bug fixes.</code>

Wondering if you're planning on making stable updates as the SDK changes, thanks again.

[2016-07-14 06:17] ratson commented on #4
I sent [a pull request](https://github.com/sunnycupertino/cordova-admob-sdklibs/pull/2) to the upstream before and got rejected.

So I will need to fork it to include updates, I should have some time this weekend to do it.

[2016-07-14 22:31] russellchapin commented on #4
Awesome. Thanks.

[2016-07-17 16:02] ratson commented on #4
Done

[2016-07-17 16:02] #4 closed

[2016-07-17 16:02] ratson commented on #3
Done

[2016-07-17 16:02] #3 closed

[2016-07-17 16:03] ratson commented on #2
@GitCod-Man Do you have a chance to try out the latest version?

[2016-07-19 01:25] russellchapin opened #5 "Project won't build with update."
<h1>FIXED</h1>
After manually copying the Header folder to the GoogleMobileAds.framework root, the SDK files are found, but now the build fails with error instead:
<code>no visible @interface for 'CDVAdMob' declares the selector 'md5:'</code>

I'll revert to previous version in the meantime.

[2016-07-22 22:45] russellchapin commented on #5
Ah, wasn't setting the flag, it's working now. Thanks!

[2016-07-24 04:53] russellchapin commented on #5
Tested on another computer. Same error.

[2016-07-24 11:19] russellchapin commented on #5
Was just going to post that I fixed it by adding the library search path in XCode, but it's now working on its own with the update. Thanks.

[2016-07-28 16:48] ratson commented on #5
Is that your problem fixed with the latest update? Or anything I could help?

[2016-07-28 16:49] ratson commented on #2
Closing this because no reply. Free to reopen if needed.

[2016-07-28 16:49] #2 closed

[2016-08-03 01:53] russellchapin commented on #5
Yep, the SDK search paths weren't being linked. Figured it out like 10 minutes before you pushed up 0.1.3, which fixed it haha. Thanks!

[2016-08-03 15:48] ratson commented on #5
Close as problem resolved.

[2016-08-03 15:48] #5 closed

[2016-09-04 05:10] RobPosener opened #6 "Plugin Doesn't Work With Windows 10"
The plugin seems to work with Android OK but I am unable to get it to work with Windows 10.
All of the code seems to say "Windows Phone" and "Windows 8" and "Windows 8.1" but what about "Windows 10" and "Universal Application Platform (UAP)/Universal Windows Platform (UWP)"?
No error is thrown... just nothing is displayed.

[2016-09-07 16:08] ratson commented on #6
@RobPosener  I am not sure if Cordova plugin could work for Windows 10. Do you have any example plugin on how it is working?

I will probably could support Windows 10 well, as I don't use it. If anyone could help, PR is welcome.

[2016-09-17 16:33] becvert opened #7 "Mediation networks"
Hello,
At last a no ad sharing admob plugin. great job!
Does it support mediation for iAd, FacebookAds for instance?
How difficult would it be to implement that?
I'm willing to have a look into it but need some hints.
Thank you

[2016-09-18 00:30] ratson commented on #7
Currently, there is no mediation support as I don't use any at the moment.
I am not sure the complexity for adding it, but you can have a look on https://github.com/floatinghotpot/cordova-admob-pro for reference.

I am happy to review / merge any pull request to add this feature.

[2016-09-18 17:53] becvert commented on #7
actually, at a quick glance, it seems pretty straight forward.
it would take the form of plugins, for instance:
cordova-plugin-admob-free-facebookads
cordova-plugin-admob-free-iad
I'll see what I can do.

[2016-09-21 12:16] becvert opened #8 "Temporary Interstitial/Banner Id"
why not get rid of

[code]

as this is a no ad sharing plugin?

[2016-09-22 07:18] becvert commented on #8
Seems to be test ads.
My apologies

[2016-09-22 07:18] #8 closed

[2016-09-23 00:25] bflopez opened #9 "Current AdMob SDK Version"
Hi I am wondering if this plugin has been updated with the new 7.11.0 AdMob SDK that fixes iOS 10 permissions issue? If not could I interest you in updating the AdMob SDK to 7.11.0?

[2016-09-23 00:50] #9 closed

[2016-09-25 20:50] becvert commented on #7
I added 2 mediation plugins:

[cordova-plugin-admob-mediation-facebook](https://github.com/becvert/cordova-plugin-admob-mediation-facebook)

[cordova-plugin-admob-mediation-adbuddiz](https://github.com/becvert/cordova-plugin-admob-mediation-adbuddiz)

iAd has been discontinued of course.

[2016-09-30 10:21] gfismtposb opened #10 "In BasicListener not indicate whether banner or interstitial"
Hello,

In BasicListener not indicate whether banner or interstitial, and it would be nice to distinguish.

Thanks

[2016-09-30 10:25] gfismtposb opened #11 "In documentation "Interstitial Ad" has a misprint (adId ->interstitialAdId)"
In:
// preppare and load ad resource in background, e.g. at begining of game level
AdMob.prepareInterstitial({
  **adId**: admobid.interstitial,
  autoShow: false,
});

should put:
// preppare and load ad resource in background, e.g. at begining of game level
AdMob.prepareInterstitial({
  **interstitialAdId**: admobid.interstitial,
  autoShow: false,
});

[2016-09-30 11:36] #11 closed

[2016-10-03 07:50] halkoy opened #12 "onleavetoAd does not work on IOS for interstitial ads - help wanted pls..."
hii,
I am trying to use this plugin but for IOS and interstitial ads onleavetoad event does not fire. It works for banner for IOS. But for android this event works for banner and interstitial.

For IOS and interstitial ads, how can I learn that user clicked the ad or not?

[2016-10-06 15:33] ratson commented on #7
@becvert Good work! I've made you a collaborator on the project so you can update the documentation about how to integrate mediation.

[2016-10-06 15:40] ratson commented on #12
On iOS, `adViewWillLeaveApplication` is the hook for this event, do you ever see the event triggered?

Personally, I don't test on iOS a lot, any help / PR would be appreciated.

[2016-10-06 15:41] ratson commented on #10
I will implement it when I have time, any PR is welcome.

[2016-10-07 06:19] halkoy commented on #12
I didn't see this event on the plugin readme file so I didn't tried. I will try it..
thank you so much for your reply

[2016-10-07 19:20] bflopez opened #13 "isTesting: true Not working"
I just switched over to this plugin and for some reason I cannot get the isTesting: true option to work for me. It displays real ads regardless. Am I doing something wrong?

    AdMob.setOptions({
        publisherId: admobid,
         isTesting: true
      });
    AdMob.createBannerView();

[2016-10-12 16:41] ratson commented on #13
Which platform are you using? Do you able to run the example?

[2016-10-12 16:53] bflopez commented on #13
@ratson This is on iOS 10. I see a message on the console that says request.testDevices: XXXXXXXXXXXXXXXX and then another message that says "To get test ads on this device, call: the same number as before. Hope this helps

[2016-10-13 07:53] raulpopi commented on #10
Hello, I have solved adding AddType at the event:

****************
IOS: CDVAdMob.m
****************
[code]
[code]

[code]

And creating this method does not exist
[code]

********************
ANDROID: AdMob.java
********************
In "private class BannerListener extends BasicListener" add:
[code]

In "private class InterstitialListener extends BasicListener" add:
[code]

and can eliminate Basi

[2016-10-13 08:23] raulpopi opened #14 "In Android, the banner, when created, a few seconds is blank until load."
In Android, the banner, when created, a few seconds is blank until load.
My solution:

in 'private PluginResult executeCreateBannerView' Commenting on the part of the code
 ``
// executeShowAd(true, null);
``

and in 'private class BannerListener extends BasicListener' we add on event  'public void onAdLoaded()'
``
if (autoShowBanner) {
		executeShowAd(true, null);
    }
``

[2016-10-16 09:04] #10 closed

[2016-10-16 09:04] #14 closed

[2016-10-16 09:17] ratson commented on #12
@halkoy I have just published a release, should fix this problem.
Would you confirm if it is fixed?

[2016-10-16 15:35] halkoy commented on #12
It is not fixed for IOS. adViewWillLeaveApplication  event was not recognized as an event at javascript for IOS. I found another plugin for IOS which supports this event for IOS.

thnx

[2016-10-16 15:35] #12 closed

[2016-10-17 21:16] warcry2000 opened #15 "In IOS, showAd (false), it makes the banner goes blank, instead of disappearing"
Hello,

In IOS when i used showAd(false) to hide the banner, it makes the banner goes blank, instead of disappearing.

This did not happen before. In version 1.0.5 working properly.

Many thank for work

[2016-10-18 08:04] raulpopi commented on #15
Does not happen every time, sometimes yes, sometimes no

[2016-10-18 13:31] sabrielle6 opened #16 "No support for rewarded video ads?"
would love to see this added

[2016-10-21 08:10] gfismtposb commented on #15
i have the same problem, do you have any solution?
regards!!!

[2016-10-22 11:04] vintage commented on #7
@becvert: Are you using these mediation plugins in any of your mobile apps? To be honest I'm looking for some admob library for cordova which will have working mediations - neither floatinghotpot or cranberrygame have working system, as they have a bunch of open issues which are not addressed and it's impossible to build app using eg. inmobi/adcolony.

Can you also point me and other devs which wi

[2016-10-22 11:20] vintage commented on #16
I agree that it would be great to have reward videos integrated into lib. There is just one problem with that - AdMob itself doesn't serve any reward videos and it needs external providers such as AdColony, InMobi, Unity Ads etc.

So first thing to focus on is to bring easy way to integrate with ad mediators. The discussion is available here - https://github.com/ratson/cordova-plugin-admob-free/is

[2016-10-22 12:52] vintage commented on #13
Same situation for me. Here is my log output:

[code]

[code]

So it can be as you suggested issue with lowercase/uppercase.

The ad is showing in the application, but it's definitely not a test ad. I've managed to fix the issue by changing the line https://github.com/ratson/cordova-plugin-admob-free/blob/master/src/ios/CDVAdMob.m#L413 to:

`request.testDevices = @[ kGADSimulatorID, deviceId, [dev

[2016-10-22 13:16] vintage commented on #6
@RobPosener: AdMob doesn't support Windows 10 nor Windows Mobile platform, so it's waste of energy to make the plugin compile for these devices.

The only working ads platform which I'm aware of is the Pubcenter (Microsoft product). I've been using it for some time in my native app, but don't have any experience in integrating it with the cordova. Let me know in case you get any details about the

[2016-10-22 13:21] vintage commented on #15
Have you observed any pattern in making the space blank? I've been playing with it for few minutes, couldn't reproduce the issue using latest version of the library. And what does the "blank" mean? The banner becomes some "gray box" and still occupy the screen?

[2016-10-22 14:49] raulpopi commented on #15
Hello, this happens when I show and hidden the banner.
I do this in my application depending on the screen that the user visits.
Hiding the banner there are times when the banner is removed but the space it occupied is left White. Then on the screen that part of the banner remains white.
It is not disappear banner area.

This occurs in ipad.

Regards!!!

[2016-10-22 15:01] vintage commented on #15
What options are you using to initialize the plugin? Can you paste your initialization code here?

https://github.com/ratson/cordova-plugin-admob-free#3-set-options

[2016-10-22 15:09] raulpopi commented on #15
Helo, this:

AdMob.createBannerView( {
			publisherId: this.idBanner,
			bannerAtTop: false,
			overlap: false,
			offsetTopBar: false,
			autoShow : true
		} );

[2016-10-22 15:16] vintage commented on #15
I didn't even know that you can pass options to the createBannerView instead of the setOptions, but after looking at the source code seems correct. Have you tried to first initialize the library:

[code]

And after that calling the: `AdMob.createBannerView();`? Then once you navigate through pages call `AdMob. showAd(true)` or `AdMob. showAd(false)`. I can't say if it changes anything, but that's

[2016-10-22 15:47] raulpopi commented on #15
It will try to initialize.

I am using ionicframework.

If I tried to show and hide and with:
setTimeout (function () {AdMob.showAd (true);}, 2000);
Even hide several times if the second work.

I feel that because of the method
- (Void) resizeViews
Sometimes not successful.

thank you very much for your concern.

[2016-10-22 17:39] #13 closed

[2016-10-22 20:02] vintage commented on #15
Yes, it seems more than issue with the Ionic Framework than the AdMob library itself. I'm using the lib with the Ionic 2 and didn't have any problems at all, so it's probably related only to the Ionic 1. I'm not familiar with the Ionic 1, so I think better place to get help on this issue is to go directly to their issue tracker. Hope you will find solution for this!

[2016-10-22 21:04] becvert commented on #7
@vintage Yes I'm using these mediation plugins in my apps.
I'm generating impressions and revenue.
Only using interstitials though. Haven't tested banners.
I'm going to publish them to npm soon.

All a plugin does is adding the adapters ( .jar and .framework) into the project.

You'll find a bunch of network adapters on [this page](https://firebase.google.com/docs/admob/android/mediation-networks)

[2016-10-24 07:15] raulpopi commented on #15
Hello thank you very much.

I tried it with 'setOptions' and neither is arranged.

When testing with an iPad 2 running, but with ipad 1 does not work.

I is that I'm not familiar with ionic 2, so do not know if it will be to use ionic 1.

I keep trying to see if I can find solution.

[2016-10-24 11:05] raulpopi opened #19 "App exit on backbutton, if ad banner overlay=false (on ionic)"
Whenever the app was at main page or other page, when i click onHardwareBack it will direct exit the apps without going back previous state or prompt toast message.

If overlay=true work perfectly.

When you load the banner, it is as if the focus to stay somewhere.

[2016-10-24 21:08] raulpopi commented on #19
hello,
I just solve, the problem is that the 'webview' does not have focus to display the banner. Only in android.

in
[code]

add
`parentView.requestFocus();`

getting
[code]

[2016-10-25 02:21] ratson commented on #19
@raulpopi Thanks, would you put this into a PR?
If not, I could include it myself later.

[2016-10-25 07:36] raulpopi commented on #19
Hello, I've never done a PR ... I have to study how it's done.
For now if you want to include you when you can, as is faster.
Thanks

[2016-10-25 18:23] RobPosener commented on #6
Gerday Kamil,
Thanks for you comments and insight.
They confirm my investigations.
If I find anything or come up with a workable solution, I'll let you know.
It won't be in the next 12-18 months... I'm about to drive all the way
around Australia.

Rob

Regards
*Rob Posener*
0419 012 627

On 23 October 2016 at 00:16, Kamil Rykowski <notifications@github.com>
wrote:

[2016-10-26 08:02] vintage commented on #6
@ratson We can close the issue now, as we can't do anything to make it work on the Windows 10.

[2016-10-26 09:03] manzajaro opened #20 "The screen go automatically up and down"
The screen go automatically up and down (see video).
https://drive.google.com/open?id=0B-A3-k4oz8IKRUR2Qi13SHV1TTQ

`document.addEventListener('onReceiveAd', function() {
      AdMob.showAd(true);
    });
`

`AdMob.setOptions({`
        publisherId: admobid.banner,
        interstitialAdId: admobid.interstitial,
        bannerAtTop: true,  // set to true, to put banner at top
        overlap: fals

[2016-10-26 13:31] #6 closed

[2016-10-26 13:41] #19 closed

[2016-10-26 13:43] ratson commented on #19
@raulpopi Released the fix. For creating pull request, you may refer to https://help.github.com/articles/creating-a-pull-request/

[2016-11-02 21:23] code4youreal opened #21 "How can I install this in construct 2?"
Can you show someone how can I add this plugin to construct 2?

[2016-11-03 18:34] BlackHo opened #22 "Black but clickable ads"
Hi,

In last 7 days I noticed that ads are mostly shown black on my test device Android 4.0.4 (app uses plugin crosswalk 1.8.0), they are black but clickable and leads to correct page, but banner is shown only after calling some alert() popup:
1) It's black when loaded: http://prnt.sc/d2oyxb
2) After calling alert() it shows immediately: http://prnt.sc/d2ozcp

I guess that issue is caused due some

[2016-11-04 01:39] code4youreal opened #23 "Black screen on Android"
Hi!
I get black screen on android, please fix it.

[2016-11-04 02:04] ratson commented on #23
Thanks for reporting, you may have experienced the same problem as https://github.com/ratson/cordova-plugin-admob-free/issues/22. Are you able to click the ad?

I am not available to fix it right now, will have a look this weekend.

[2016-11-04 02:06] code4youreal commented on #23
Thank you for the fast answer. No I just see the black screen nothing else. Please fix this as you can. Thank you!

[2016-11-06 03:48] code4youreal commented on #23
Hi! Do you fixed?  Thx answer!

[2016-11-06 09:30] sirchacal opened #24 "Help"
hey ratson ,
I'm not a javascript programmer , I'm not able to make it work , in a cordova project, can you explain me how to integrate this code I already install the cordova plugin ..

[index.txt](https://github.com/ratson/cordova-plugin-admob-free/files/573711/index.txt)

this is the index.js

[2016-11-06 15:50] code4youreal opened #25 "Black screen on iOS"
Hi!

The Apple Support Recejted my app because got black screen on iOS 10.11, so something not working good here. Can you check, because I got black screen on Android too. Thank you!

[2016-11-06 16:27] code4youreal commented on #23
http://img5.fotos-hochladen.net/uploads/blackscreen0sf9cykmbn.png

[2016-11-06 20:47] vintage commented on #25
Duplicate: https://github.com/ratson/cordova-plugin-admob-free/issues/23

[2016-11-06 20:49] vintage commented on #23
So if you remove the `cordova-plugin-admob-free` plugin everything works correctly? Check your console in Xcode for any errors. Additionally debug the application using remote Safari connection. The amount of details you have provided is not sufficient.

[2016-11-06 20:57] code4youreal commented on #23
Thank you for you fast reply. I am just a beginner, so I am not pro, but without your plugin works fine.
I do not know what is the problem, but if I use your plugin on Android and on iOS i just get a black screen. If i use other admob plugin then works fine, so I do not understand.

[2016-11-06 21:13] vintage commented on #23
Any errors in the browser/Xcode during run? The black screen must come from something, and there is for sure some trace in the output logs. I use this plugin in production in 8 games and I have no problems at all.

[2016-11-06 21:24] code4youreal commented on #23
With your plugin on Intel xdk 3641 in simulation see only black screen.
Without your plugin on Intel xdk 3641 in simulation works fine.
As I wrote I do not know what is the problem, but without your plugin works fine my game.

[2016-11-06 22:28] code4youreal commented on #23
Now I see the ad but the screen still black!
http://img5.fotos-hochladen.net/uploads/problemqa1dbg342s.png

[2016-11-06 22:33] code4youreal commented on #23
First the game run fine, then load the ad and I get a black screen. The ad visible, but I see only black screen.

[2016-11-07 15:17] ratson commented on #23
@code4youreal
Would you try the latest version (v0.4.0)? Let me know if it fixes the problem.
If not, please try to run the [example](https://github.com/ratson/cordova-plugin-admob-free/tree/master/example), confirm if it is working on your device.

[2016-11-07 15:22] ratson commented on #22
@BlackHo
Would you confirm if the [example](https://github.com/ratson/cordova-plugin-admob-free/tree/master/example) is working for you?
If yes, I would test if `crosswalk` caused the problem.
It would be best if you could create a sample project showing the problem.

[2016-11-07 15:24] ratson commented on #25
@vintage Thank you. I have invited you to be a collaborator, so you could help closing issues in the future.

[2016-11-07 15:24] #25 closed

[2016-11-07 15:28] ratson commented on #24
@sirchacal Here is the [example code](https://github.com/ratson/cordova-plugin-admob-free/blob/master/example/www/js/index.js). Feel free to reopen this issue if you have any difficulties to run it.

[2016-11-07 15:28] #24 closed

[2016-11-07 15:31] ratson commented on #21
@code4youreal I don't develop on Construct 2, so I could not provide much help.
I emailed the Construct 2 team to see if they could help.

[2016-11-07 15:34] ratson commented on #20
@manzajaro I could not re-create the problem. It would be best you could provide an sample problem for me to look into.

Closing this as nothing is actionable.

[2016-11-07 15:34] #20 closed

[2016-11-07 19:04] BlackHo commented on #22
I updated admob plugin to 0.4.0 and it was throwing some error while building apk, so I decided to check android studio, sdk and jdk versions too... I updated them all as they were out-of-date and rebuilt apk without issues, and ads are working now.
Thanks a lot for effort and this awesome plugin :)

[2016-11-07 20:16] code4youreal commented on #22
Hi! I have the same problem, if I use the new plugin just loading and not build under intel XDK,

[2016-11-07 20:22] code4youreal commented on #23
If I use the new plugin under intel xdk 3641 then just loading and not build.

[2016-11-07 23:33] BlackHo commented on #22
Seems that banner is not always generated... I'm getting error 0 on receiving banner or interstitial ad (seems it's ERROR_CODE_INTERNAL_ERROR), but it's interesting that it's working sometimes but again sometimes it's not working at all.

[2016-11-10 17:41] davidvazteixeira opened #26 "Break after add"
Hi,

One line:
After install, the main "ready" callback is not called.

Situation:
Using Ionic, I'm migrating from "sunny" to yours. I did:

1) cordova plugin remove cordova-plugin-admob-simple
2) cordova plugin add cordova plugin add cordova-plugin-admob-free
3) cordova platform remove android
4) cordova platform add android
5) => insert an "alert" in the start of "ready" callback of device
6) io

[2016-11-10 20:19] vintage commented on #26
Do `alert()` function works on real devices? I'm not sure about it. Better approach to check if the `ready` event is called is to put `console.log`. You can debug it using https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

[2016-11-10 20:21] davidvazteixeira commented on #26
vintage, this trick will help so much! But first, let's me write this:

I started a brand new project and used the "example". Not working, but in "ionic serve" I got this on console:

Refused to execute inline script because it violates the following Content Security Policy directive: "default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'". Either the 'unsafe-inline' keyword, a hash

[2016-11-11 15:23] davidvazteixeira commented on #26
A have some news.

After a talk, we found that the Android version is main problem. The same code breaks with 5.x but runs with 6.x (i.e. the ready callback goes fine). This is a sensible point because of today marketshare.

You wrote that this project is a fork from sunny, with removed adshare, but there is some "new updated code" under the hoody. Sunny works.

[2016-11-11 15:45] vintage commented on #26
@davidvazteixeira : Do you use crosswalk for older Android versions?

[2016-11-11 15:52] davidvazteixeira commented on #26
I updated for crosswalk only after your tip for chrome debuging.

[2016-11-11 16:07] davidvazteixeira commented on #26
I tried many VMs here. Without change the app code:

5.0 runs (no break) but do not show ads.
5.1 runs (no break) but do not show ads.
6.0 runs and shows interstitial

[2016-11-13 10:23] vintage commented on #26
@davidvazteixeira can you paste your `ionic info`?

[2016-11-13 21:56] raulpopi commented on #16
Hello,

I've prepared a code to test the rewarded videos, but I need a test id and a mediaton to allow it.
@vintage do you know which one I can use?

My unproven code is here https://github.com/raulpopi/cordova-plugin-admob-free

[2016-11-13 23:25] oangelo commented on #26
I am working with @davidvazteixeira and I am also experiencing the exact same problem...
Here is my ionic info:
[code]

[2016-11-13 23:37] davidvazteixeira commented on #26
I will send mine too:

Cordova CLI: 5.4.1
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.0
Ionic Version: 1.3.1
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
OS: Distributor ID:	Ubuntu Description:	Ubuntu 16.04.1 LTS
Node Version: v6.9.1

[2016-11-15 06:25] vintage commented on #16
@raulpopi: The code looks promising! Unfortunately as I said in previous comment the `cordova-plugin-admob-free` doesn't have any mediation network which supports reward videos AFAIK. I'll have more time in December so would start investigating how to write mediations on my own. Maybe @becvert can help here?

[2016-11-16 09:51] raulpopi commented on #16
@vintage many thanks, one thing, which of the providers you recommend, that I will try to look to see if I can do anything with any of them. Which do you think is best for any type of application, not just games?

[2016-11-16 10:22] becvert commented on #16
rewarded videos are supported out of the box by just a few mediation networks
 [supported ad formats](https://firebase.google.com/docs/admob/android/mediation-networks#supported-ad-formats)

To write your own mediation plugins, all the resources are here:
[supported ad networks](https://firebase.google.com/docs/admob/android/mediation-networks#supported-ad-network)
Have a look too at:
[cordova-plu

[2016-11-16 21:19] oangelo opened #27 "Banner not showing up"
I have noticed a strange behavior in Android.
I can make the banner to show up when doing this
[code]
But this will also make Interstitial to "auto show", I think this is unappropriated, since I have set before:
[code]
this means that autoShow is global, and I think it should not.

The main problem is that the banner does not shows up when I call:
[code]
A very ugly workaround is to
[code]
Am I mi

[2016-11-16 21:24] oangelo commented on #26
I've managed to put the plugin to work in different Android versions using Crosswalk.
Is Crosswalk mandatory? If it is, I would like to suggest to add this as a dependency or, at least, this should be mentioned at the README.mk.

[2016-11-17 11:11] raulpopi commented on #16
Hello, thank you @becvert

One doubt, I'm looking at the facebook plugin, and I do not see how the cordova-plugin-admob-free plugin is connected to the facebook plugin. That is, in code where your plugin would be called?

[2016-11-17 12:01] becvert commented on #16
There's no direct connection between the two.
The facebook plugin just add the mediation adapter class in your project.
The Google Admob SDK looks for mediation adapters in the classpath at runtime.
If an adapter it's there, third-party ads can be displayed otherwise it fallbacks to another mediation network or admob only.

[2016-11-17 13:54] raulpopi commented on #16
Great @becvert, now I understand, thank you very much for the explanation.

It's just that I've been reviewing other code and seeing connections, and I was getting confused.

[2016-11-17 21:19] bflopez commented on #27
Weird that it doesn't show with
    AdMob.createBannerView();

It should show.

[2016-11-17 21:32] oangelo commented on #27
I realized that because the example uses this:
https://github.com/ratson/cordova-plugin-admob-free/blob/6b2f1298f2c9ee68f771f5c6188003a48bb6ec04/example/www/js/index.js#L19-L21
And I was not able to show the banner otherwise.

Another strange thing is that the README.mk says this:
[code]
That suggests that "autoShow" is only for interstitial and not for banner, but, clearly is not.

[2016-11-21 00:06] warcry2000 opened #28 "With version v0.4.0 in IOS 7.0 it fails. With v0.3.1 works"
Using version IOS 7.0 with v0.4.0 it fails, with v0.3.1. works.

The problem is that in addition the 'deviceready' event does not fire.
This problem does not execute the rest of code.

Does anyone know what can happen? Thanks

[2016-11-21 06:20] vintage commented on #28
What version of cordova and cordova-ios are you using? Try the latest one `cordova@6.4.0` and `cordova-ios@4.3.0`.

[2016-11-21 07:42] warcry2000 commented on #28
Hello,
I tried with cordova@6.4.0 and cordova-ios@4.3.0 and it failed, then with the previous ones and it also failed.
Later, just for testing, I tried with cordova-admob-pro that has the same ios framework, and with this if the event 'deviceready' was launched,

Version v0.3.1. It works well.

[2016-11-21 08:28] vintage commented on #28
That's a strange behavior, I'm currently using this plugin for serving ads in few games and it works correctly on both - Android & iOS.

You should try to run basic example and see if the deviceready is called - https://github.com/ratson/cordova-plugin-admob-free/tree/master/example

[2016-11-21 08:34] warcry2000 commented on #28
In IOS higher than 7 it works, and in android too. But in the IOS 7 that I have it does not go.
Thank you very much, then I prove that I do not have my cell phone here.

[2016-11-22 07:49] warcry2000 commented on #28
Hi @vintage , I was testing with the simple example, and I found the error. The error occurs because the AdMob.js file contains two lines repeated on lines 9 and 14: LARGE_BANNER: 'LARGE_BANNER'
This makes in older browsers cut all the javascript, and for that reason does not skip the 'deviceready', so it will fail on some phones.

[2016-11-22 07:54] vintage commented on #28
@warcry2000 Bingo, you are totally right! Can you make a PR or want someone else to do it for you? Additionally does it solves the issue and ads are working properly?

[2016-11-22 08:05] warcry2000 commented on #28
@vintage  Yes, everything works correctly by removing one of the two lines, I have to do some things urgently, so when I finish them I can create the PR. Although if you want to advance and create it earlier, I would appreciate it.

[2016-11-22 10:27] warcry2000 commented on #28
@vintage I just realized it, greetings

[2016-11-22 15:28] #28 closed

[2016-11-25 02:03] code4youreal commented on #23
Hi!
The news is on iOS 10 the banner ads works me fine, but the interstitial ad do not show me or I get a full black screen.

[2016-11-29 09:48] sysads opened #31 "Ads keeps showing test"
I have just sorted out why ads keeps showing test after adding my admob IDs and removing the isTesting line. Now the new problem is it appears ads show but not working.

For instance, there are some ads that plays a video, when this shows, the timer stays stuck. its like its displaing a png file rather than rendering a video.

Any help?

[2016-11-30 16:16] Venkat-TTapp opened #32 "Is there any possibility of using “Child-directed setting” using this plugin?"
This is a question, not an issue. Not sure where to raise this question for this plugin, so I have raised this question under issues, sorry if this is not appropriate.

Can we use “Child-directed-setting” For purposes of the Children's Online Privacy Protection Act (COPPA), there is a setting called tagForChildDirectedTreatment in admob which needs to be flagged to receive COPPA complaint ads.

Mo

[2016-12-01 23:05] #22 closed

[2016-12-02 14:08] oangelo opened #33 "Very many error reports when in production"
I was trying to use this plugin, because it is free and has no ad share. I am using ionic, I had a hard time trying to make it work, but I am able to run it using Crosswalk.  I am using Google Analytics to log when an ad is receved, shown or retruns an error, because AdMob was not logging the amout of impressions I would expect. While it does works in my phone flaweslessly, when in production, it

[2016-12-02 16:46] ratson commented on #32
In fact, I have added the support Android.
As I don't have time to add support for iOS, so I am not adding documentation about it.

Does Android support is sufficient for you?
If so, I would document it.
For iOS support, I really need some helping hands.

[2016-12-02 16:52] becvert commented on #33
Hi @oangelo
could you give us details of the errors that are reported?
Thank you

[2016-12-02 16:59] ratson commented on #33
I wish I have more time to improve this plugin, but supporting features which I don't use is hard and time consuming.

Good to hear that you are willing help on testing, most issues does not include clear steps how a problem occurs, some are more difficult as they (looks) happen randomly.

I will look into some issues this weekend, but could not guarantee anything.

[2016-12-02 22:18] oangelo commented on #33
Hi @becvert

As I said, I can't reproduce the problem in my own phone when testing, I think it is an intermittent problem, because I only noticed it when the app is in production. I did not logged the problem description, only how many times it happened. I am not an expert in this field... But I am now using  https://github.com/floatinghotpot/cordova-admob-pro and no error is been logged.

I had t

[2016-12-03 02:59] Venkat-TTapp commented on #32
Hi Ratson,

Thanks for your reply.

It would be great if feature was available for iOS,

I would try this for Android ( currently none of my app are released in US due to COPPA restrictions), please let me know how to do this.

Regarding support for iOS: Sorry I do not have technical knowledge to help on this, I can help you to documenting clear steps which can be helpful for users.

[2016-12-03 12:31] becvert commented on #33
You're calling prepareInterstial in showBannerFunc. Is that normal?
Maybe it is. Maybe it does not matter. I'm just trying to understand the code.

[2016-12-03 13:48] oangelo commented on #33
@becvert, take a look at #27. There is explained why I am doing this.

[2016-12-04 14:02] ratson commented on #32
@Venkat-TTapp I have documented the options in https://ratson.github.io/cordova-plugin-admob-free/function/index.html#static-function-setOptions
`options.forChild` and `options.forFamily` should be what you need.

[2016-12-04 14:06] ratson commented on #23
@code4youreal I labeled this as iOS issue, is there still problem on Android?

[2016-12-04 14:11] ratson commented on #31
@sysads Would you clone the example, change the publisher IDs, remove `isTesting` option in the example, run and see if your problem still happen?
I am not sure what had been going wrong.

[2016-12-04 15:33] sysads commented on #31
Thanks for the reply. I didn't bother to proceed with this so had to improvice by exporting project to Mobile web and using cordova to inject admob into it and all good.

[2016-12-04 16:08] code4youreal commented on #23
Hi! Yes, unfortunately, on iOS works fine, but on Android I get only full black screen if I use this plug.
I use intel xdk+construct 2

[2016-12-05 15:56] Venkat-TTapp commented on #32
Thanks for your prompt response Ratson. I sincerely appreciate your time and effort for my query.

[2016-12-06 11:39] touxstudio opened #34 "Black Screen IOS"
Hi, I added this plugin using XDK installint via NPM but no luck.

I use C2 + XDK

Is there a way to fix it? or some kind of guide?

Greetens

[2016-12-06 11:46] code4youreal commented on #34
For me works fine on iOS, I get black screen only if I use this plugin on Android.
I use C2 + XDK

[2016-12-06 11:48] touxstudio commented on #34
How do you export from C2? I tried with and without WkWebView, with and without Overlap, with test true and false. But no luck. Any advice please?

Greetens

[2016-12-06 11:54] code4youreal commented on #34
I use C2 r233 XDK 3641
1. Do not check Minify script
2. Check WkWebView

I use Overlap and test ad always false.

[2016-12-06 11:55] code4youreal commented on #34
You need to give in Intel XDK third party plugin cordova-plugin-admob-free

[2016-12-06 15:24] ratson commented on #34
@code4youreal Thanks for helping out. I personally don't use Intel XDK, would you like to be a collaborator to document integration?

[2016-12-06 19:09] touxstudio commented on #34
Thank you very code4youreal much it worked!

Is there any way to use it on Android too?

[2016-12-06 19:26] code4youreal commented on #34
This plugin do not works me on Android, because I get a black screen.
Can you tell me which size do you use on iOS and Android?

[2016-12-06 19:27] code4youreal commented on #34
@ratson If I can then I help you, but I am beginner :D

[2016-12-06 19:28] code4youreal commented on #34
May be the problem is the Minify script I always check by Android but by iOS not.

[2016-12-07 16:03] ratson commented on #34
@code4youreal No worry, we all are beginner of something :)
Invitation sent 🚀

I am closing this issue as it worked on iOS.
For the Android problem, let's refer to https://github.com/ratson/cordova-plugin-admob-free/issues/23

[2016-12-07 16:03] #34 closed

[2016-12-07 16:17] touxstudio commented on #23
Yes same problem for me. Black screen. Is there some way to fix? What compiler are you using for android @ratson?

[2016-12-07 18:17] ratson commented on #32
v0.5.0 is out with the support for both Android and iOS.
Let me know if it works for you.

[2016-12-07 18:17] #32 closed

[2016-12-07 18:19] ratson commented on #23
@touxstudio I am using Cordova to build the project.

[2016-12-07 18:20] ratson commented on #27
@oangelo v0.5.0 should address this issue.
Feel free to reopen if you still have problem.

[2016-12-07 18:20] #27 closed

[2016-12-07 18:37] #31 closed

[2016-12-11 18:03] ratson commented on #26
@davidvazteixeira @oangelo The latest version should emit more compatible code for old devices. Let me know if your problem solve. Crosswalk is not mandatory by design, I am wondering why it fixes your problem.

[2016-12-11 18:06] Script47 opened #36 ""AdMob is not defined""
#I found this plugin and it suited me perfectly, no extra nonsense and very good usability. I got it working and the test ads showed, however for some reason now I keep getting *AdMob is not defined*. It happens when I run the function `showInterstitial();` which I created.

**JavaScript**

**The Initialization**

[code]

**The Function**

[code]

I then tried,

[code]

I have tried reinstalling t

[2016-12-11 18:07] ratson commented on #21
I got a reply from Scirra Support

@code4youreal Did you figure out how to integrate Construct 2?

[2016-12-11 18:17] ratson commented on #36
I am not sure about Intel XDK, should the event be `deviceready`? Also why `window.navigator.plugins.AdMob` instead of `AdMob`?

[2016-12-11 18:23] ratson commented on #23
@code4youreal @touxstudio Did you testing on real device? What is the OS version?

[2016-12-11 18:25] touxstudio commented on #23
@ratson Real Device Samsung Galaxy Note 4 -> Android 5.1.1 . Thanks

[2016-12-11 18:42] code4youreal commented on #23
@ratson Real Device iOS 10.1.1 iPad works fine [http://www.fotos-hochladen.net/uploads/attachment1856ui5rtxogcm.png](url)

[2016-12-13 02:45] Bahm commented on #23
I had a black screen because I used AdMob before the deviceready event had fired. I use Phaser (a game framework), and according to [this article](https://software.intel.com/en-us/html5/hub/blogs/how-to-make-a-mobile-virtual-pet-game-with-html5-and-cordova/) it detects Cordova and waits for the deviceready event to fire. Unfortunately, it failed to detect Cordova (probably because I removed cordov

[2016-12-16 15:21] Script47 opened #37 "Error callback for functions?"
Is there a way I can alert output errors in a callback for the functions `prepareInterstitial` and `showInterstitial`?

[2016-12-16 22:06] Script47 commented on #36
I was using the ```deviceready``` event, the issue was that I hadn't included Cordova. Simple fix really,

[code]

and it was all working.

[2016-12-16 22:06] #36 closed

[2016-12-19 15:04] ratson opened #38 "[RFC] Better events"
I am working on next release to provide better API usage, one area to fix the emitted events.
I would like to hear some feedback for the following proposals before proceed,

#### 1. Generic events between different ad-types. E.g. `AdLoaded`, `AdFailed` events with `adType` in the event data.

**Pros**
- Less event types
- Some generic handling function, only need to listen to one event type. E.g.

[2016-12-19 16:00] vintage commented on #38
I've been working with both approaches "generic events" and "specified events". As you said the generic events have one advantage - you can listen just for one event and receive multiple types of events using single line of code. Even if that sounds great, it's almost useless as in all of my apps I've had to do a conditional statement to check what exactly came in and decide what to do with it. I'

[2016-12-19 21:07] warcry2000 commented on #38
Hello,
Since the events were so different, and because there were only a few common ones, I separated the events for each one.
So if someone uses only banner, worry about the events of the banner, if someone uses only videos, then only worry about the events of the videos.

Also I think the code would be cleaner.

[2016-12-19 23:24] frozenxis opened #39 "rewardvideo not working"
Hi. First of all, GREAT JOB!

i am using ionic2 rc3 with this cordova plugin.
Managed to make the banners work, but the reward video doesn't show up.

this is my code

[code]

[2016-12-20 10:02] warcry2000 commented on #39
Hello @frozenxis,

In order to use video you need to install in addition to this plugin another mediation plugin, which one have you used?

You have printed the error that it returns with 'onFailedToReceiveAd'?

[2016-12-20 11:47] ratson commented on #38
Awesome, I like the namespace idea, it could group the methods too.
e.g. `admob.banner.events.LOADED`, `admob.rewardvideo.show()`

[2016-12-20 21:36] warcry2000 commented on #38
I think it is a great idea.

[2016-12-20 22:48] frozenxis commented on #39
hi, thanks for quick reply
i didn't know / forgot i need it. **thanks!**
i used inmobi for admob. i'll test and come back with results!

[2016-12-21 22:12] warcry2000 commented on #39
@frozenxis For adcolony create this plugin, but inmobi do not know if there is a plugin out there. If you find it or have it, point it out here.
https://github.com/warcry2000/cordova-plugin-admob-mediation-adcolony

Here are some more, but they do not have it for video.
https://github.com/ratson/cordova-plugin-admob-free/issues/7

regards

[2016-12-22 19:43] frozenxis commented on #39
thanks. i couldn't make rewards videos with inmobi :(
released the app without them for now.. maybe in update
thanks for tip about adcolony

[2016-12-28 04:44] detalpha commented on #39
Hi,
as related issues, when I use AdMob.prepareRewardVideo(),  I get Uncaught TypeError: AdMob.prepareRewardVideo is not a function warning. I had adcolony account and use your [cordova-plugin-admob-mediation-adcolony](https://github.com/warcry2000/cordova-plugin-admob-mediation-adcolony). is there additional code need to called before calling AdMob.prepareRewardVideo()? thank you

[2016-12-28 08:08] warcry2000 commented on #39
Hello @detalpha,
Rewardevideo is still on test, if you want to test the code it is on a branch:
https://github.com/ratson/cordova-plugin-admob-free/pull/40
They are doing the last tests to release it.

Try this code and comment.

Regards

[2017-01-11 15:22] becvert opened #41 "Autoshow discrepancy between iOS and Android"
to workaround that issue I need to
[code]

[2017-01-11 15:27] becvert opened #42 "[iOS] showInterstitialAd does not call failure callback"
__showInterstitial `NSLog(@"Ad wasn't ready");` instead

Android properly error back to the app
[code]

[2017-01-14 13:40] Script47 opened #43 "showInterstitial vs showInterstitialAd"
What is the difference between `showInterstitial` and `showInterstitialAd`?

[2017-01-14 13:49] Script47 opened #44 "Calling prepareInterstitial within the showInterstitial?"
I want to show consecutive ads without a too much of a delay in between, could I do the following,

[code]
So the next time I call `showInterstitial` would it already be prepared?

[2017-01-15 16:30] #7 closed

[2017-01-15 16:33] #16 closed

[2017-01-15 16:34] #38 closed

[2017-01-15 16:35] ratson commented on #41
Please checkout v0.6, which can set `autoShow` per ad type

[2017-01-15 16:35] ratson commented on #39
v0.6 is released

[2017-01-15 16:35] #39 closed

[2017-01-15 16:36] ratson commented on #37
Please checkout v0.6

[2017-01-15 16:36] #37 closed

[2017-01-15 16:36] ratson commented on #44
Please checkout v0.6

[2017-01-15 16:36] #44 closed

[2017-01-15 16:36] ratson commented on #43
Please checkout v0.6

[2017-01-15 16:36] #43 closed

[2017-01-15 16:48] ratson commented on #33
As v0.6 is out, I am closing this. Feel free to reopen if the problem still exists.

[2017-01-15 16:48] #33 closed

[2017-01-15 16:50] ratson commented on #26
Since there is no updates, closing this.

[2017-01-15 16:50] #26 closed

[2017-01-15 16:51] ratson commented on #23
v0.6 is out, please let me know if it fixes your problem.

[2017-01-15 16:54] ratson commented on #15
I am closing this since v0.6 provides new set APIs.

[2017-01-15 16:54] #15 closed

[2017-01-22 09:18] chinatjnet opened #45 "Reward video don't show"
It's ok for banner and interstitial, but no use with rewardVideo ads.
I have added inmobi to Admob.
Should I add inmobi adapter to it?

[2017-01-22 17:50] warcry2000 commented on #45
Hello,
You need an adapter and InMobi sdk.
Look here:
https://firebase.google.com/docs/admob/android/mediation-networks

[2017-01-23 22:25] rebrandsoftware opened #46 "Testing Reward Videos / Events"
I'm trying to get reward videos to show using the new API.  I have integrated AdColony mediation in AdMob, making a video-only ad unit.  I have also added cordova-plugin-admob-mediation-adcolony to my project.  AdMob lists the AdColony id as pending; I'm not sure if that affects testing or not.

I'm trying to use the new API like this:

[code]

That code does display an interstitial test ad, but n

[2017-01-24 02:31] ratson commented on #45
@chinatjnet Yes, you could try [cordova-admob-inmobi](https://github.com/rehy/cordova-admob-mediation/tree/master/packages/cordova-admob-inmobi)

[2017-01-24 02:34] ratson commented on #46
I have added list of events [here](https://ratson.github.io/cordova-plugin-admob-free/variable/index.html#static-variable-rewardvideo)

[2017-01-24 08:48] warcry2000 commented on #45
@ratson In this plugin I see
src/android/libadapterinmobi.jar
But the src folder does not exist.

In addition to the adapter, should the sdk be included?

[2017-01-24 13:59] becvert commented on #41
I checked it out.
Still need` autoShow : false` for iOS to work and `autoShowInterstitial : false` for Android

[2017-01-24 14:21] ratson commented on #41
Could you try `admob.interstitial.config({autoShow: false})`?

[2017-01-24 14:22] becvert commented on #41
argh yes, sorry I've still been using the old setConfig. I'll try again and tell you. thanks

[2017-01-24 15:02] rebrandsoftware commented on #46
Thanks!  Is there a test video from AdMob I should expect to see, or does it just show an interstitial image?

[2017-01-24 15:15] becvert commented on #41
it's working fine with v0.6.
my apologies.
and thank you for the great work!

[2017-01-24 15:15] #41 closed

[2017-01-24 15:25] becvert opened #48 "change js-module clobbers"
instead of window.admob, I suggest using cordova.plugins.admob

`<clobbers target="cordova.plugins.admob" />`

I feel like not enough plugins use cordova.plugins as a placeholder. it's a shame.

what do you think?

[2017-01-24 21:27] rebrandsoftware commented on #46
Also, I was looking at [cordova-admob-mediation](https://github.com/rehy/cordova-admob-mediation ) because you link it in the docs.  I see it supports InMobi but I was unable to get it installed properly and can't find the JAR files for the SDK in the source.

Since that didn't work I created an mediation plugin for InMobi here: [cordova-plugin-admob-mediation-inmobi](https://github.com/rebrandsof

[2017-01-25 15:02] #42 closed

[2017-01-25 15:05] ratson commented on #48
I am not sure if there is any advantage for using `cordova.plugins.admob`, and it seems too long for typing.
Could you point me to any reference that is recommending it?

[2017-01-25 16:02] becvert commented on #48
I don't think there's actually any recommandation from cordova. I've just seen that in a few plugins.
But it's a smart move as one best practice in JavaScript is to avoid cluttering the global namespace.
I don't know if that's a big advantage but then I know where the cordova plugins are, and in DevTools I can use method autocompletion for instance.
And it isn't too long and I always create a var

[2017-01-27 21:05] swaraasolutions opened #49 "Failed to Load Ad"
Hi,
I just upgraded the version of plugin with the new api.

However, it is not showing ads any more just showing up an error 0 and reason Internal error.

I have verified my code 3 times here is the snippet
`
admob.banner.config({
          id: admobid.banner,
          isTesting: true,
          autoShow: true,
          size:admob.AD_SIZE.SMART_BANNER,
        });
        admob.banner.prepare()

[2017-01-29 00:17] Script47 commented on #49
Is the trailing `,`  meant to be there after the `size` option?

[2017-01-30 20:04] rebrandsoftware commented on #45
I think the SDK has to be included, and it's not in the repository linked above, neither are the android manifest or iOS plist configurations listed as required by InMobi.

To get around that problem I created an InMobi mediation plugin here: [cordova-plugin-admob-mediation-inmobi](https://github.com/rebrandsoftware/cordova-plugin-admob-mediation-inmobi/) which I am trying to use with cordova-plug

[2017-01-30 21:10] warcry2000 commented on #45
Hello @rebrandsoftware Do you need the adapter in your plugin?
https://firebase.google.com/docs/admob/android/mediation-networks

In Performance reports in admob you can see:
- AdMob Network Report
- Ad Mediation Report: There you can see in Mediation the different ad networks shown

[2017-02-01 12:30] shkim6827 opened #50 "i can not show interstitial ad."
Hello, I have some problem.
First, my HTML tag is ...
**<script>
    document.addEventListener('deviceready', function() {

      admob.rewardvideo.config({
       id: admobid.reward,
       isTesting: true,
       autoShow: false,
      })

      admob.rewardvideo.prepare()

      admob.interstitial.config({
        id: admobid.interstitial,
        isTesting: true,
        autoShow: true,

[2017-02-03 09:46] swaraasolutions commented on #49
Hi @Script47 i have removed the trailing slash. Seems this is an issue with Lenovo K4 Note Phones. not sure what's wrong really, all other devices are working fine.

[2017-02-04 01:16] rebrandsoftware commented on #46
I have everything working now.  The problem I was having is that the ads were trying to load before I assigned the proper ad ID, causing it to load a default "interstitial test ad" instead of a video.

Now that I have the proper ad ids in place it's working as expected.

[2017-02-04 01:16] #46 closed

[2017-02-05 02:47] fmbuthia opened #51 "Can not install"
I could not install plugin on the latest cordova builds.

[2017-02-13 12:50] Script47 opened #52 "Interstitial Ad not showing"
Since the update, my ads won't show for some reason, my code is as shown below.

[code]

Any ideas?

[2017-02-15 16:54] becvert opened #53 "Prepare in background rather than on UI thread"
Hello,

I'm no Thread master, but I see unwelcomed short freezes on my UI when I prepare my ads in advance of their showing.

So shouldn't the `prepare` calls be running in a background thread instead of on the UI thread?

for instance [InterstitialExecutor.java#L37](https://github.com/ratson/cordova-plugin-admob-free/blob/master/src/android/interstitial/InterstitialExecutor.java#L37)

`cordova.ge

[2017-02-16 18:46] vintage commented on #51
@fmbuthia I didn't have any problems installing it. Could you provide more details/logs as it's impossible to help you using data you have provided here.

[2017-02-17 14:59] ratson commented on #53
The implementation is inherited from the original fork, feel free to change that and test if it works.
PR is always welcome.

[2017-02-17 15:02] ratson commented on #52
Are you calling `admob.interstitial.show()` immediately? Please have a look on [the example](https://github.com/ratson/cordova-plugin-admob-free/blob/master/examples/basic/www/js/index.js),
see if you code has any difference.

[2017-02-17 15:11] becvert commented on #53
No worries. I know it's inherited. I'll do some tests and make a PR if it works indeed

[2017-02-17 20:55] Script47 commented on #52
@ratson Is there an event for me to use to check if the ad is ready?

In my code, I'm not immediately calling it, it only runs if a condition is met which happens later on in the app.

[2017-02-19 15:02] vintage commented on #50
@shkim6827 I'm not sure what are you talking about - reward video or interstitials? In the title you mention interstitial ad, but the code is about displaying reward video. Could you be more precise?

[2017-02-19 19:14] fmbuthia commented on #51
I tried to install using github url like - cordova plugin add https://github.com/ratson/cordova-plugin-admob-free. I was still able to install the other way though - cordova plugin add cordova-plugin-admob-free. So this is not a big deal thanks for the plugin.

[2017-02-19 19:24] vintage commented on #51
I wasn't able to install the plugin using github url also, it have to do something with missing `www/admob.js` file. I don't really know why was it removed from the repo. @ratson?

`cordova plugin add https://github.com/ratson/cordova-plugin-admob-free.git`

Sample output:

[code]

[2017-02-19 23:36] ratson commented on #51
It won't work as `www/` is generated from `src/js/` via `babel`.

[2017-02-19 23:36] #51 closed

[2017-02-19 23:40] #49 closed

[2017-02-21 07:55] becvert commented on #53
AdMob requests that it runs on UI thread. Nothing we can do about that.

[2017-02-21 07:55] #53 closed

[2017-02-21 12:01] vintage commented on #45
@ratson @warcry2000 It seems it's impossible to install the inmobi mediation plugin:

[code]

I don't really also understand how could it work, as there is nothing interesting in the plugin directory itself - https://github.com/rehy/cordova-admob-mediation/tree/master/packages/cordova-admob-inmobi

@rebrandsoftware I've tried to install your plugin. It installed without any errors, so I've tried t

[2017-02-21 12:04] vintage commented on #52
@Script47 In current version you could simply use:

[code]

In the next release you will be able to prepare the interstitial and checks if it's ready on-demand using `admob.interstitial.isReady().then(isReady => console.log("Am I ready?", isReady))`.

Also check the docs https://ratson.github.io/cordova-plugin-admob-free/variable/index.html#static-variable-interstitial and examples pointed out by

[2017-02-21 12:52] vintage commented on #21
Closing due to inactivity. Feel free to reopen if the problem persists.

[2017-02-21 12:52] #21 closed

[2017-02-21 12:55] vintage commented on #48
I'm good with the global `admob` variable (even if using it once and exposing it using angular2 service). I see no gain in changing this.

[2017-02-22 20:07] Script47 commented on #52
Odd... I have all the events, but no errors are showing at all, neither is the ad.

[2017-03-03 02:17] bflopez opened #55 "Ionic 2"
I am looking to use this app in my Ionic 2 projects. It seems there is an issue importing the plugins directly with TypeScript so I used this method:

```(<any>window).plugins.AdMob.createBannerView();```

I saw you had updated the plugin to have Classes banner:Banner. I tried to use it but I couldn't get it to work.

The problem I have with this is that Ionic 2 comes with a native "AdMob" plugin

[2017-03-03 02:22] bflopez commented on #55
I removed this plugin and it didn't work. Added it back and it worked again. Seems I am accessing this plugin. I still would like some info on how to not use the deprecated functions in Ionic 2 if possible. Thank you.

[2017-03-03 02:38] bflopez commented on #55
(<any>window).plugins.AdMob.banner.config( {})
(<any>window).plugins.AdMob.banner.prepare();
(<any>window).plugins.AdMob.banner.show();

I don't know why I didn't think this would work. Closing but if anyone else runs into this issue I hope this helps them spend less time than me figuring it out.

[2017-03-03 06:38] vintage commented on #55
@bflopez I'm also using the Ionic 2 for my projects, and I've even wrote a simple injectable provider to make things easier (to for example switch between different plugins without touching the pages/components). I'm still adding there new stuff, as I find anything is needed in one of my projects.

[code]

Using it is not any kind of magic, so probably anyone playing around with Angular 2 knows ho

[2017-03-04 07:24] ratson commented on #55
Re-open this to keep track for future improvement.
It should be something like https://github.com/driftyco/ionic-native/blob/master/src/plugins/admob.ts

[2017-03-04 23:42] jhonoi opened #56 "I can't seem to get any ad to work."
I've tried for quite some time now but i cant seem to get any ad to work. Can I get some help please?
This is my code.

<!DOCTYPE html>
<html>
<head>
    <title>banner demo</title>
    <style>
        .bodyStyle{
            font-size: 32px;
        }
    </style>
</head>
<body >
<button id="showAd">Show</button>
<script type="text/javascript">

	var admobid = {}
if (/(android)/i.test(navigator.us

[2017-03-07 12:46] vintage commented on #45
Small update - It seems that I didn't properly enabled reward videos in the Admob dashboard. After connecting inmobi account credentials I've been able to see the ads. Seems to work with the https://github.com/rebrandsoftware/cordova-plugin-admob-mediation-inmobi/

Additionally I've just received an email that Admob would be able to present reward videos without any ad mediation provider (builtin

[2017-03-12 15:27] Script47 commented on #52
@ratson @vintage

**Bump** - Still not working, any ideas?

[2017-03-12 18:54] shastox opened #57 "Does the plugin support native ads?"
I did not find any plugins that support native ads. Thanks.

[2017-03-12 22:58] erperejildo opened #58 "Banner position"
How can I define position for normal banner?

[2017-03-12 23:03] erperejildo commented on #58
Ok, just found on other repository:
`bannerAtTop: true`

[2017-03-12 23:03] #58 closed

[2017-03-14 09:08] vintage commented on #56
What kind of errors do you have?

[2017-03-14 09:11] vintage commented on #52
@Script47

Does this one works for you?
[code]

If not, what errors shows on the browser console or xcode/adb console?

[2017-03-21 09:09] m6246 opened #59 "Location"
How would one provide config.location? I'm not sure about iOS but for Android this is a native object (https://developer.android.com/reference/android/location/Location.html)

[2017-03-21 13:21] pinikynet commented on #45
Dear @ratson
I use only Admob Network.
for Android when I use **cordova-admob-sdk** , I see only black screen for Rewarded video and some error.
in plugin.xml
[code]
in android SDK Manager I updated this
![image](https://cloud.githubusercontent.com/assets/26572730/24148962/9a29322e-0e49-11e7-8c30-e14b146b5e1e.png)

and I add [https://github.com/cranberrygame/cordova-plugin-extras-google-play-servi

[2017-03-21 14:37] ratson commented on #45
@pinikynet Which mediation library are you using?

[2017-03-21 14:39] ratson commented on #59
@m6246 How this is related to AdMob?

[2017-03-21 14:42] ratson commented on #57
Refer to https://github.com/floatinghotpot/cordova-admob-pro/issues/391#issuecomment-221457376, it seems not possible.
Maybe you could help if you know how to do it.

[2017-03-22 05:30] pinikynet commented on #45
@ratson I use only Admob without extra plugins or mediation library.

[2017-03-22 10:37] m6246 commented on #59
Hi Ratson, is is used for targeting purposes.

https://github.com/ratson/cordova-plugin-admob-free/blob/d44d91e8a053f09a8af477d6b5ec23308c5530bf/src/android/AdMob.java#L188

[2017-03-22 11:11] m6246 commented on #59
Actually.. I just found about this, doh

https://github.com/ratson/cordova-plugin-admob-free/blob/d44d91e8a053f09a8af477d6b5ec23308c5530bf/src/android/AdMobConfig.java#L123

So this basically answers my question. Still worth adding to the docs though ;)

[2017-03-23 12:12] calebeaires commented on #55
Hi everyone.

I arrived to this project when finding some way to make sure interstitial is fully loaded before calling its show function. **I have received letter from Google that complains about that**. My [problem was reported here](https://github.com/floatinghotpot/cordova-admob-pro/issues/534).

The example above seems to have this check feature (`  isFullscreenReady() `). May you help me with

[2017-03-29 11:03] vintage commented on #55
@ratson I use Ionic on the daily basis and just found out they have introduced support for this library. Awesome! Don't know yet how does it work and if it exposes all the supported interfaces, but definitely worth to look at. I won't be using it in my current projects, but will give it a try in the project I'm currently working at.

http://ionicframework.com/docs/v2/native/adbmobfree/
https://git

[2017-03-29 14:18] Flavioamorim opened #60 "interstitialAd is null, call"
hello,

I'm trying to use the interstitial banner, but I always return the same error: interstitialAd is null, call

      admobid = {
         banner: 'ca-app-pub-5322935628707109/xxxxx',
         interstitial: 'ca-app-pub-5322935628707109/xxx',
       }

      admob.banner.config({
        id: admobid.banner,
        isTesting: true,
        autoShow: true,
      })
      admob.banner.prepare()

[2017-03-31 09:40] mugenyi opened #61 "invalid action"
hello, i am getting invalid action error whenever i try to display banners on android emulator.
interstitials work perfectly and also on ios emulator.

admob.banner.config({
     id: 'ca-app-pubxxxxxxxx',
     isTesting: true,
     autoShow: true,
     bannerAtTop: false
    })

    // Create banner
   admob.banner.prepare()

[2017-04-04 11:42] geekyguy18 opened #62 "This Plugin so much better than the "floatinghotpot/cordova-admob-pro" but we need more mediation support."
I was using this AdMob Pro Plugin, but it seems that even you buy licence the start steeling impressions once app is popular enough, having a very bad experience with it.

Anyways Thanks to this great guy @becvert who created two mediation plugins for this plugin

[cordova-plugin-admob-mediation-facebook](https://github.com/becvert/cordova-plugin-admob-mediation-facebook)
[cordova-plugin-admob-med

[2017-04-04 19:15] geekyguy18 commented on #62
Update : Great seems like it was too easy to build mediation plugin, i got it working, will be update soon here :)

[2017-04-05 09:53] vintage commented on #23
Closing due to inactivity. Feel free to reopen in case problem still occurrs.

[2017-04-05 09:53] #23 closed

[2017-04-05 12:52] geekyguy18 commented on #62
Update 1: Mobfox Banners and Interstitial ads are working now :)

[2017-04-05 19:47] cleandersonlobo commented on #61
+1

[2017-04-05 20:59] gengjunwu opened #63 "Overlap config bugged out - setting its value from true to false and back to true, the banner does not show anymore"
Hi,

Trying to make a demo using the latest Ionic 2 and native plugin, I found that if the app is initialized with 'overlap' set to true, the banner does show up on top of the view. Tried to set it to false and show banner on top, the banner pushes the webview down as expected. However, the weird thing is, if now you want to set 'overlap' to true to allow banner to show on top of webview, the bann

[2017-04-05 23:41] geekyguy18 commented on #61
Sometimes this happens because of newly created adspace in AdMob. Once adspace starts severing ads after 2-3 hours then it should start working, check with AdMob test ids.

[2017-04-06 01:21] danaraujjo opened #64 "Block click on banner"
Good evening! Is there a way to block the click? I'm creating an app for kids ... and I would like the banner to only print.

Thanks!

[2017-04-06 01:46] geekyguy18 commented on #64
NO! don't ever block clicks, **this will violate AdMob terms** and your APP will be banned from play store and your AdMob account will be banned too. Another thing, if you block clicks how you will generate revenve?

[2017-04-06 13:14] ratson commented on #62
Thanks for creating the plugin, I have linked you project in https://github.com/rehy/cordova-admob-mediation/tree/master/packages/cordova-admob-mobfox

I will keep this open for discussion.

[2017-04-06 20:13] geekyguy18 commented on #62
Thank you @ratson for linking, btw i did not understand how [this thing](https://github.com/rehy/cordova-admob-mediation/tree/master/packages/cordova-admob-mobfox) will work if there is no adapter and sdk included in your repo, did you forget to put there?

[2017-04-07 16:44] ratson commented on #64
@danaraujjo Would you elaborate more about why do you want to do that?

[2017-04-07 19:26] danaraujjo commented on #64
"Porque você é criança menor de 4 anos... é pra criança não ficar clicando e saindo do app, eu queria bloquear isso. Ganharia apenas com impressões e não com cliques."

Because you are a child under 4 years ... it is for the child not to be clicking and leaving the app, I wanted to block it. It would only win with impressions and not with clicks.

[2017-04-11 12:07] ratson commented on #62
@geekyguy18 No, it is by design not committing the binary files, see https://github.com/rehy/cordova-admob-mediation#contributing

[2017-04-11 12:12] ratson commented on #64
@danaraujjo As @geekyguy18 has pointed out, it is not a good way to avoid children clicking the ads. You could choose to not show the ads for children.

[2017-04-11 12:12] #64 closed

[2017-04-11 12:13] ratson commented on #61
@mugenyi Do you get it working now?

[2017-04-11 12:16] ratson commented on #60
Did you tried the [example code](https://github.com/ratson/cordova-plugin-admob-free/blob/master/examples/basic/www/js/index.js)?

[2017-04-11 13:13] ratson commented on #55
@vintage Thanks for the information, good to know it is supported.

[2017-04-11 13:13] #55 closed

[2017-04-11 13:15] ratson commented on #50
Close as no reply.

[2017-04-11 13:15] #50 closed

[2017-04-11 13:16] ratson commented on #56
Close as no reply.

[2017-04-11 13:16] #56 closed

[2017-04-12 11:56] lordamon opened #65 "flickering screen on Android"
Hi, first of all thanks for this great plugin!

When i use this plugin in android device with older system (android 4.4.2) the screen flicker a lot.
Seems like admobpro fixed this issue.
Can we have this fix also in this plugin?

[2017-04-14 11:12] vintage commented on #65
Have you tried to use crosswalk within your project - https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview ? Does it solve the problem?

[2017-04-16 14:38] ahmetakin opened #66 "Ionic 2 Problem"
Hello,
I have tried to use this plugin in Ionic 2 as shown there https://ionicframework.com/docs/native/admob-free/ and add inside of src/app/app.components.ts ;

[code]

like that code.

Also I add import module and provider to src/app/app.module.ts ;
[code]

And when I try in emulator application work fine but ads not coming. Am I do something wrong ? So anyone can create a basic working example

[2017-04-17 15:05] #66 closed

[2017-04-22 13:30] awe-sim commented on #61
Hi @ratson,

I'm getting the same issue as well..

    admobFree.banner.config({ id: '...', isTesting: true, autoShow: true });
    admobFree.banner.prepare();

    Unhandled Promise rejection: Invalid action ; Zone: <root> ; Task: Promise.then ; Value: Invalid action
    polyfills.js:3 Error: Uncaught (in promise): Invalid action
        at g (polyfills.js:3)
        at l (polyfills.js:3)

[2017-04-23 12:47] Script47 commented on #52
**Update**

For those of you who (like me) were struglling to get this to work using Intel XDK should note that you use use `deviceready` instead of the `app.Ready` function, this was causing the plugin not to work for me.

[2017-04-25 17:27] technotip commented on #46
@rebrandsoftware Could you please share the code with us?

I'm using the same code you had posted earlier. In my case am not getting any kind of ad.

[2017-04-28 13:58] calebeaires opened #67 "How to know if user watch the entire reward video"
There is an method to get reward ad when it is read, but how to know if the user watch entire reward video or don`t? Right know I am calling this

[code]

[2017-05-02 13:43] Script47 opened #68 "Checking if banner has been prepared"
I have an app, when the user changes to a different page, do I need to re-prepare the banner or can I just show it?

[2017-05-05 15:14] calebeaires commented on #68
Better re-prepare!

[2017-05-07 14:47] ratson commented on #59
Documentation added, see https://ratson.github.io/cordova-plugin-admob-free/typedef/index.html#static-typedef-BaseConfig

[2017-05-07 14:47] #59 closed

[2017-05-08 05:45] vintage commented on #67
Your current code makes a `console.log` just after the reward video has been shown. If you want to do some extra action when full video has been watched you need to use event:

[code]

[2017-05-15 09:35] vintage commented on #65
Closing due to inactivity, feel free to reopen if problem stil occurs.

[2017-05-15 09:35] #65 closed

[2017-05-18 14:15] wleberre opened #69 "plugin always show testing ads"
Hello,

I try to use the  free admob plugin but it always show testing ads this is my code :
`this.platform.ready().then(() => {

  admob.interstitial.config({
id: 'ca-app-pub-APP_ID',
autoShow: false
})

admob.interstitial.prepare()
admob.interstitial.show()

 });`

do you now why the plugin do this ?

[2017-05-18 17:12] omerorkmez opened #70 "admob plugin cihaz hatası"
Hi,

I can make a good compilation before adding Admob plugin. After adding, I get the following error.
I would like your support.

![image](https://cloud.githubusercontent.com/assets/28788028/26214769/483085d6-3c06-11e7-8d94-a916079e77e8.png)

[2017-05-18 17:31] centrual commented on #70
com.google.android.gmsplay-services-ads+ bulunamadı diyor.

Sdk Manager programını açıp, (en altta tools kısmında olmalı) google play services sdk'sını kurman gerekiyor.

[2017-05-18 17:44] centrual commented on #69
please look lines between 228 and 248 lines in https://github.com/ratson/cordova-plugin-admob-free/blob/master/src/android/AdMobConfig.java

Please set your id always.

[2017-05-18 17:52] omerorkmez commented on #70
Merhaba,

Dediğinizi kurdum ancak aynı sorun devam ediyor. SDK manager'da eksik olan başka şeyler vardı onları da kurup tekrar deneyeceğim.

Resimde en altta bulunan şu hali ile ilgili bir sorun olabilir mi?
Hata		Picked up _JAVA_OPTIONS: -Xmx512M

![image](https://cloud.githubusercontent.com/assets/28788028/26216150/b6c5f652-3c0b-11e7-860a-210591744dbd.png)

[2017-05-18 18:06] omerorkmez commented on #70
Merhaba,
54 hata vardı, şimdi 14 hata kaldı. ancak bu alt taraftaki hata duruyor.

![image](https://cloud.githubusercontent.com/assets/28788028/26216729/d2e5acae-3c0d-11e7-802f-dba66fc07dcf.png)

![image](https://cloud.githubusercontent.com/assets/28788028/26216743/e07c5db8-3c0d-11e7-8dcf-4bfc6411eb37.png)

[2017-05-18 18:12] centrual commented on #70
Merhaba @omerorkmez

İlk sorununuz sdk ile ilgiliydi. Sizin hata dediğiniz kısım bir hata değil, derleme argümanlarıdır.

Şuanki hata ilk hatanızdan farklı. Şu anki hata ise `C:/Users/egzantirik7/Documents/Visual Studio 2017/Projects/test1/test1/platforms/android/build/intermediates/exploded-aar/com.google.android.gms/play-services-base/10.2.6/res/drawable-hdpi-v4/common_google_singin_btn_icon_dar

[2017-05-18 18:27] omerorkmez commented on #70
Desteğin için çok teşekkür ederim, dediğinizi aynen yaptım tüm hata ve uyarılar gitti. sorunsuz çalışıyor şuan.
Şimdi sırada ilk reklam testi var :)

Bu arada web sayfanızı inceledim. çok güzel bir tasarım. Referanslar çok sağlam, tebrikler :)

İyi akşamlar.

[2017-05-18 18:59] centrual commented on #70
Benim için zevkti @omerorkmez

Güzel bir gün geçirmeni dilerim.

[2017-05-19 14:39] ratson commented on #70
WOW, it is great to know this plugin has Turkish users.
Thanks for @centrual helping out.
@omerorkmez Is your problem solved?

[2017-05-19 14:42] ratson commented on #69
@wleberre Is your app running on real device?

[2017-05-19 16:10] centrual commented on #70
Hello @ratson

Thanks for open source admob plugin. You'r super hero! 😃
The problem solved. He said in Turkish already.

Have a great day!

[2017-05-19 16:49] omerorkmez commented on #70
Hi @ratson

Your fame arrieved to Turkey
Problem is solved by @centrual.

Thanks for your interest.

Thanks & Have a great weekend.

[2017-05-20 08:53] wleberre commented on #69
yes it is the only for ads working is to set directly id in this :
https://github.com/ratson/cordova-plugin-admob-free/blob/master/src/ios/CDVAdMob.m#L50L52

[2017-05-20 12:42] ratson commented on #70
Thank you for the kind words, I will close this.

[2017-05-20 12:42] #70 closed

[2017-05-20 15:34] ratson commented on #69
@wleberre Would you let me know what is the value of `console.log(admob.interstitial._config)` just before your are calling `admob.interstitial.prepare()`?

[2017-05-21 13:21] wleberre commented on #69
it do an error :
[code]

[2017-05-22 04:53] wleberre commented on #69
@ratson I put directly console.log in admobjs (https://github.com/ratson/cordova-plugin-admob-free/blob/master/src/js/interstitial.js#L55L56) for see the result :
[code]

[2017-05-23 11:13] omerorkmez opened #71 "Admod Test"
Hi,

Does the plugin only work on the android mobile device?
Is it possible to run it in the browser for testing?

Thank you,
Good work :)

[2017-05-23 12:27] centrual commented on #71
Hello @omerorkmez

Admob not compatible with desktop browsers.

Have a great day!

[2017-05-23 12:27] #71 closed

[2017-05-23 12:29] centrual commented on #69
I'll check it soon.

[2017-05-23 17:42] omerorkmez opened #72 "Reaction Button"
Hi,

I applied the example, but it does not react when I click on the button.

I added the code here at the end of the script.js page.
I may have been making simple mistakes because I just started.

Do not blame me for tiring you. :((

I will then make the award-winning ad insertion, which can be contacted by someone who can give you paid support.
omerorkmez@gmail.com

I would like your support.

[2017-05-24 13:46] githistory opened #73 "interstitial.isReady() always yields false even in testing mode"
What I wanna do: when there is no ad (for example, user has already watched max number of ads for a period in admob settings), go direct to my app logic, when there is ad, display interstitial and then go to my app logic.

Since there is no documentation, I'm writing following code via guessing:

[code]

Am I doing it wrong?

[2017-05-24 15:31] ratson commented on #73
@githistory Calling `isReady()` immediately after `prepare()` will likely always be `false`, as AdMob typically require some time to fetch the ads before it is ready.
For your use case, you probably would listen to `admob.interstitial.events.LOAD` and keep track the state yourself.

Have a look on the example if you did not read it yet, https://github.com/ratson/cordova-plugin-admob-free/blob/mast

[2017-05-24 15:34] ratson commented on #72
@omerorkmez Thank you for interesting in paid support, I didn't expect that and have no idea how it should work. I will email you and see if anything I could help.

[2017-05-24 15:38] githistory commented on #73
@ratson, thanks for getting back!

Are you saying I can call isReady in LOAD handler? Will it reflect cases where there is no ad to display?

[2017-05-24 15:39] omerorkmez commented on #72
Hi,

I am waiting for your mail.

Thank you

[2017-05-24 15:44] ratson commented on #69
@wleberre Is your printed result before or after `delete options.id`? If it is after, that is what I was expecting, is the above all your ad calls?

[2017-05-24 15:48] #72 closed

[2017-05-24 15:52] ratson commented on #73
You should not need to check `isReady` when you have the LOAD event, as the event implied there is ad ready to serve. However, after you `show` the ad, you need to wait for the next LOAD event.
Is that answer your question?

[2017-05-24 15:55] githistory commented on #73
So in the LOAD event, how do I tell if I should call show() or do my app logic stuff? That is, how do I tell if there indeed is an ad or not?

[2017-05-24 16:03] ratson commented on #73
Did you try the example?

[2017-05-26 12:03] wleberre commented on #69
it return : `undefined`

[2017-05-29 20:26] caciobanita commented on #69
if i running ionic cordova run android, are showing real adds,
but if i run ionic cordova run android --prepare - are showing only test ads
any suggestions?

[2017-05-30 07:53] caciobanita opened #74 "Config are not loaded in release"
if i running ionic cordova run android, are showing real adds,
but if i run ionic cordova run android --prepare - are showing only test ads
any suggestions?

[2017-06-04 14:55] jjohnson1994 commented on #69
Hi wleberre,

I've got the same problem. Test ads are always showing, even when I've built and signed a release APK.

My ad config is as bellow:
[code]

Did you solve this?

[2017-06-04 15:35] wleberre commented on #69
You test it on android emulator? If yes that's normal

[2017-06-04 16:45] jjohnson1994 commented on #69
When testing on an emulator/ debug APK I get the test ads, thats okay.

I've built and signed my app for release and am testing on a device but still get the test ads.

[2017-06-05 12:54] wleberre commented on #69
what say the log about it  ?

[2017-06-06 08:58] jjohnson1994 commented on #69
There's nothing in the log, presumably because there is no error/ warning so nothing to log. AdMob things it's doing what it should be?

[2017-06-06 09:02] wleberre commented on #69
Do you use android studio for see log of app while it running

[2017-06-06 10:11] jjohnson1994 commented on #69
No I'm running the app with `ionic cordova run android -lcs`. I'm also trying this building the app for release, signing, and installing like a regular app.

[2017-06-06 10:18] wleberre commented on #69
can you try with `ionic cordova emulate android` and android studio i think it log more event than ionic

[2017-06-06 12:12] jjohnson1994 commented on #69
But emulating will show the test adverts, which isn't a problem. My problem is that test adverts are shown in a release app.

[2017-06-07 13:43] PrithiviRajG commented on #45
After adding mediation plugins also I am not able to see reward Video but I am able to see 'Ad displayed' log from the console (using the below code)

[code]

[2017-06-07 13:52] PrithiviRajG commented on #67
@calebeaires I am not able to get reward videos in my App. can you please share the file where you have configured coded reward video.

Thanks in advance!

[2017-06-07 14:02] calebeaires commented on #67
@PrithiviRajG Are you using an emulator or an real device to test it? With this plugin rewards video does not works on a real device.

[2017-06-07 14:04] PrithiviRajG commented on #67
@calebeaires I am using real device. How to use it or test it for real device?
any other ways to use reward videos in cordova App using AdMob?

[2017-06-07 14:10] calebeaires commented on #67
@PrithiviRajG with Android Studio, download and active emulated devices, then you can emulate your cordova app on it with something like this: ```cordova emulate android```. [video tips](https://www.youtube.com/watch?v=ywynAxPjU9w)

[2017-06-08 09:51] merbin2012 commented on #67
This will produce Uncaught SyntaxError: Unexpected token )

[2017-06-09 01:12] Script47 opened #75 "Is there a way to show multiple banner ads on one page?"
The question title says it all, is this possible?

[2017-06-10 07:57] geekyguy18 commented on #62
Update 2: I have created another AdMob Mediation plugin for **Adcash** here:
https://github.com/geekyguy18/cordova-plugin-admob-mediation-adcash

Kindly add this one too in your list, i hope it will help someone.

[2017-06-10 08:02] geekyguy18 commented on #75
Currently No! i don't think it will be supported (for banners) in future too as it is not good for user experience.
if you are looking to add multiple ad in same view/page try "Native ADS".

[2017-06-10 08:07] geekyguy18 commented on #69
Try this:

[code]

[2017-06-10 15:19] gitmasta opened #76 "Ads not show in an ionic 2 app"
Hi,
when i set the testing mode to true, the tests ads are shown. but when i set it off nothing is shown.
can you help me please

[2017-06-14 13:58] adappter opened #77 "Ionic: Fail to load resource"
Hey there,
I get this error:
Failed to load resource: The requested URL was not found on this server.
file:///var/containers/Bundle/Application/323813D6-3E08-42C1-95CD-F06A5F53F1F7/PoKo.app/www/plugins/cordova-plugin-admob-free/www/admob.js.map

But the plugin is correctly installed in the platform directory under ios.

[2017-06-15 16:32] media0101 opened #78 "Error"
When app run, showing in logcat monitor:

Ads: Invoke Firebase method getInstance error.
                                                        java.lang.ClassNotFoundException: Didn't find class "com.google.android.gms.measurement.AppMeasurement" on path: DexPathList[[zip file "/data/app/com.dbscalcio.app-1/base.apk"],nativeLibraryDirectories=[/data/app/com.dbscalcio.app-1/lib/arm, /vendor/lib,

[2017-06-17 07:09] techashish12 opened #79 "reward video in real device"
how to show reward video in real device

[2017-06-19 15:27] princekero opened #80 "Is it possible to auto-play interstitial ads video?"
If there any config for auto-play vdo or I missed something?
I can't find the way on documentation page.

[2017-06-22 10:42] navise opened #81 "Resolved"
Resolved

[2017-06-22 11:15] #81 closed

[2017-06-22 11:52] vintage commented on #79
Like this https://ratson.github.io/cordova-plugin-admob-free/variable/index.html#static-variable-rewardvideo

[2017-06-22 11:53] vintage commented on #76
Show us your code.

[2017-06-22 11:54] #48 closed

[2017-06-22 11:55] #52 closed

[2017-06-22 11:57] vintage commented on #68
@Script47 I'm always preparing & showing the banner at the first screen the user visits. After that I don't have to do anything with the banner itself as during navigation it persist in his location. I've never had to re-prepare the ad banner as I'm not aware of any scenario which would require it (maybe hidding the banner for some reason and then showing it again?).

[2017-06-24 05:51] startappsolution commented on #61
i am also same error
ERROR Error: Uncaught (in promise): Invalid action
    at c (polyfills.js:3)
    at polyfills.js:3
    at Object.callbackFromNative (cordova.js:295)
    at processMessage (cordova.js:1119)
    at processMessages (cordova.js:1142)
    at t.invoke (polyfills.js:3)
    at Object.onInvoke (main.js:3)
    at t.invoke (polyfills.js:3)
    at r.run (polyfills.js:3)
    at polyfills.j

[2017-06-24 05:52] startappsolution commented on #61
const bannerConfig: AdMobFreeBannerConfig = {
       isTesting:true,
       autoShow: true
      };

      console.log(bannerConfig);

      this.admobFree.banner.config(bannerConfig);

      this.admobFree.banner.prepare()
        .then(() => {
          console.log("banner load page");
          // banner Ad is ready
          // if we set autoShow to false, then we will need to call the show me

[2017-06-28 03:10] mattlin4567 commented on #80
I thought the interstitial ad's video always auto play.

[2017-06-29 02:12] DooDiddle opened #82 "a"

[2017-07-03 15:14] rexuli commented on #69
showBanner() {
    let bannerConfig: AdMobFreeBannerConfig = {
      isTesting: false,
      autoShow: true,
      id: 'ca-app-pub-ID'
    };

 this.admob.banner.config(bannerConfig);
 this.admob.banner.prepare().then(() => {
 }).catch(e => console.log(e));

Same here, only test mode.

[2017-07-05 13:30] steoo opened #83 "Ionic2 - banner not showing in production release"
It's in my *home.ts* component.
The app has 2 pages with a side menu. In my *android-debug.apk* version of the app, when I start the app the banner is immediatly shown.

In the production release, when I first start the app no ads is shown. If I change page and return back to the first page, the ads are shown.

Any clue?

This is the code I'm running for showing the ads.
[code]

[2017-07-05 13:55] prantikv opened #84 "Different AdSizes do not work for banner ads"
Love the plugin so far. But before I move over from AdMobPro I wanted to test the plugin thoroughly. Most of the times I use the "SMART_BANNER" banner ad. But during testing I fount that other ad sizes for banner do not work.

Here is my banner ad config:

[code]

Note here that I have tested the app with a live ad id as well as the test id. None of which work.

Differnt ad sizes are taken form th

[2017-07-05 18:10] AnuroopGambhir commented on #83
I am also experiencing the same issue, also if I show interstitial ads in production build they show test ads.
But there is a workaround if I load the same page again For Example in another tab if my app is having tabs and load admob again, the ads start working just fine.

[2017-07-05 18:16] steoo commented on #83
Is there a way I could "refresh" the page so the ads loads?

On Jul 5, 2017 20:10, "AnuroopGambhir" <notifications@github.com> wrote:

[2017-07-05 18:22] AnuroopGambhir commented on #83
I don't know any way to do so, actually, i started to work on ionic for like a month ago. Before this, I used to work on native development with the Android studio.
Even I am finding a workaround for this problem.
I have not slept for like 24 hrs trying to solve this problem searched the whole internet and no results so far,
I accidentally got the workaround I discussed above, but it is also not s

[2017-07-05 18:25] steoo commented on #83
The weird thing is that it happens only in production mode, at least in my
case. I guess we may try to force page navigation forward and backward.
I hope there's an API to navigate through pages.

On Jul 5, 2017 20:22, "AnuroopGambhir" <notifications@github.com> wrote:

[2017-07-05 18:27] AnuroopGambhir commented on #83
Same happens in my case too, only production mode is having this bug, debug mode works just fine.

[2017-07-05 18:33] vintage commented on #83
@steoo As your case is to show the banner immediately after it's being prepared why don't you use the `autoShow: true` in the `AdMobFreeBannerConfig`? The code you have provided:

[code]

I'm not really sure that promise will be resolved when the ad is really prepared - instead it resolves just after the internal admob call has finished.

[2017-07-05 18:36] steoo commented on #83
I'll try but what is this promise provided for so?

On Jul 5, 2017 20:33, "Kamil Rykowski" <notifications@github.com> wrote:

[2017-07-05 18:38] AnuroopGambhir commented on #83
I have tried that too, many of the times it shows nothing.
And there is already an open issue with the same topic.
https://github.com/ratson/cordova-plugin-admob-free/issues/74

[2017-07-05 19:23] caciobanita commented on #83
i did have this issue, the problem was how the config was set for banner or interstitial ads.
Now is working.

This is my AdMob free services:

import { Injectable } from '@angular/core';
import { AdMobFree, AdMobFreeBannerConfig, AdMobFreeInterstitialConfig } from '@ionic-native/admob-free';

interface AdMobType {
    banner: string,
    interstitial: string
}

@Injectable()
export class AdMobSer

[2017-07-05 19:25] caciobanita commented on #74
https://github.com/ratson/cordova-plugin-admob-free/issues/83#issuecomment-313189358

[2017-07-05 20:02] steoo commented on #83
How `showBanner` is supposed to be called? Is it listening to some events?

[2017-07-05 20:11] AnuroopGambhir commented on #83
@caciobanita Thanks, man you are a life saver, interstitial ads working fine now. But reward video ads not working yet.
@steoo You are supposed to call the method showbanner() and showinterstitial() when needed. For banner best place would be the constructor of the page.

[2017-07-05 20:13] steoo commented on #83
What is the point of calling `show()` if `autoShow` is set to `true`?

[2017-07-05 20:17] AnuroopGambhir commented on #83
well, in that case, you don't need to call, but in the example given be @caciobanita he didn;t set  autoShow to true .

[2017-07-07 21:41] classicalConditioning commented on #69
not sure if I was having the same issue as you guys are having, but it seems if you try to inject `admobFree` into multiple view models in ionic 2, you need to make sure none of them have `isTesting` set to true in config object. i forgot to remove that in one of the view models and was seeing test ads in my published app too. also it could have something to do with that it takes a bit for actual

[2017-07-09 23:31] #82 closed

[2017-07-10 05:04] prantikv opened #85 "Banner Ads On Exit (Pic Included)"
I have seen a lot of apps that have an exit page which show a rectangle ad. See pic

How can this be implemented using Cordova with this plugin?
Is this possible at all because of the webview?

<a href="url"><img src="https://user-images.githubusercontent.com/5754101/28003288-3410b99a-655a-11e7-9c31-7982444430e7.jpg" align="left" height="50%" width="50%" ></a>

[2017-07-10 05:15] prantikv opened #86 "Show ads within lists (Pic Incuded)"
Using an app I see ads displayed with content in the form of list items or cards. See Pic
Can this be done in this plugin in cordova with the webview limitation?

Thanks
<a href="url"><img src="https://user-images.githubusercontent.com/5754101/28003625-a2a86dba-655c-11e7-8651-a669c8a4b6e7.jpg" align="left" height="50%" width="50%" ></a>

[2017-07-10 06:42] prantikv commented on #85
Further adding to this can you confirm that this is within AdMob guideline. I have seen many reputed apps implement such a thing i.e, show ads on exit screens.
But as mentioned in the behaviour guide under **View ad placement policies** [here](https://support.google.com/admob/answer/2753860#ad_placement).
It says that ads should not be placed on exit screens. Here is a quote

How are such reputed

[2017-07-10 16:59] #79 closed

[2017-07-12 08:48] vintage commented on #67
Closing it, as answer has been already provided in the first comment. That's how you recognize if the reward video has been fully watched.

[2017-07-12 08:48] #67 closed

[2017-07-13 18:01] omerorkmez opened #87 "I can not run :("
/*english bellow*/
Merhabalar,

Bir süredir bu eklentiyi çalıştırmayı deniyorum ancak hiç bir şekilde bir tek reklam gösteremedim.
Yeni -boş- proje oluşturdum ve (https://github.com/ratson/cordova-plugin-admob-free/tree/master/examples/basic) burada olan testi aynen uyguladım ancak hiç bir sonuç alamadım.
Reklam birimi kimliklerini "cordova-plugin-admob-simple" eklentisi ile sorunsuz kullanıyorum.

[2017-07-14 04:49] prantikv opened #88 "Banner Ad reserved Space"
Hey there,
I am referring to the implementation guide [here](https://support.google.com/admob/answer/2936217?hl=en&ref_topic=2745287).

As there are times that banner ads can take up some time to load and as a result, this will bump up the app content. This can lead to invalid clicks and a bad user experience.

As the AdMob implementation guide suggests that the pace for ads should be reserved in

[2017-07-14 04:49] prantikv opened #89 "Giving Rewards For Rewad Video Ads."
Implementing Reward Video Ads I am getting all the events as mentioned [here](https://ratson.github.io/cordova-plugin-admob-free/variable/index.html#static-variable-rewardvideo)

Namely the following:

admob.rewardvideo.events.LOAD
--
admob.rewardvideo.events.LOAD_FAIL
admob.rewardvideo.events.OPEN
admob.rewardvideo.events.CLOSE
admob.rewardvideo.events.EXIT_APP
admob.rewardvideo.events.START
admo

[2017-07-14 04:59] prantikv commented on #87
try using window.admob.banner.show ()

[2017-07-14 17:08] omerorkmez commented on #87
Hi,

Unfortunately, it did not work with this code either.
The images of the pages are as follows;

I installed the "https://github.com/ratson/cordova-plugin-admob-free.git" plugin, after...

**index.html ;**
`< !DOCTYPE html >

< html >
< head >
    < meta name="format-detection" content="telephone=no" >
    < meta name="msapplication-tap-highlight" content="no" >
    < meta name="viewport" conte

[2017-07-14 21:49] omerorkmez commented on #87
Hi,

I look forward to your support.

[2017-07-15 13:35] prantikv commented on #89
The reward does get passes with the "REWARD" event. This works on a live video add and not while testing.

[2017-07-15 13:35] #89 closed

[2017-07-15 21:26] medst opened #90 "ADS Adsizes do not work for banner"
smart_banner is the only one that it work !!

[2017-07-17 06:09] #77 closed

[2017-07-17 16:28] lveigas commented on #60
Hi,

I'm having the same issue on Ionic 1 also, although the pub is showing up, both banner and interstitial.

The errors are:
Uncaught (in promise) adView is null, call createBannerView first.
Uncaught (in promise) interstitialAd is null, call createInterstitialView first.

Is this an issue with Ionic 1 only?

Thanks and Regards

[2017-07-18 13:37] amokrunner commented on #88
If you use overlay=true, you can just add the padding to the bottom in advance of loading ads, this was my approach. I actually put text there saying the ad was loading and then it just gets covered up after load.

[2017-07-18 21:09] chasebank commented on #86
Those are native ads. I think I saw one cordova plugin that claimed to do it, but I don't trust most of them. As far as I can tell the only options are banners and interstitials.

Which is stupid... because a good alternative would be adsense, but you can't do that either because it's an "app". So which is it, an app or a webview?? Google should find a middle ground solution...

[2017-07-19 20:25] amokrunner opened #91 "admob.banner.events.OPEN"
The documentation includes this event:

admob.banner.events.OPEN

but the event doesn't appear to trigger.

[2017-07-19 23:18] hemant07rulz opened #92 "Admob Always shows Test Ads !"
This is how I am calling it.

The app is live on Play store. Still it shows only test ads even after 1 day ! Please advice. Thank you

[2017-07-20 08:55] anilk533 opened #93 "It still showing test ads even in live"
Still showing Test ads even my app in live, i removed isTesting line
please help me thank you

[2017-07-20 09:59] anilk533 commented on #92
Same problem here also
still not resolved plz let me know if u solved

[2017-07-20 13:01] KishanIos007 opened #94 "Uncaught TypeError: Cannot read property 'BOTTOM_CENTER' of undefined"
i got "Uncaught TypeError: Cannot read property 'BOTTOM_CENTER' of undefined" this error at the time of build generation.
We are using cordova version 6.3.1 and android version 5.2.2

[2017-07-24 06:11] sekocit opened #96 "[Solved] is this plugin ready to use with mediation?"
Hello,

I just want to know if i can use this plugin with admob mediation sub-networks such as Unity, Facebook, Vungle...

It is working with admob mediations adapters. (Banner,Interstitial,RewardVideo)

[2017-07-25 09:22] mugenyi commented on #93
leave the line and replace true with false
 isTesting = false;

[2017-07-26 14:45] prantikv commented on #88
Can you give the code for that? That would be helpful. To which element do you add padding add the bottom and how much padding do you add?

[2017-07-29 20:21] mugenyi opened #97 "update ios admob sdk to 7.21.0"
**<Google:HTML> You are currently using version 7.20.0 of the SDK. Please consider updating your SDK to the most recent SDK version to get the latest features and bug fixes. The latest SDK can be downloaded from http://goo.gl/iGzfsP.**

I am getting this issue and it is causing the banner to show a white blank space when there is no network . How can i fix it.

[2017-07-30 05:42] #97 closed

[2017-07-30 05:44] mugenyi commented on #97
solved it by removing the plugin and reinstalling it again.
thank you for the awesome work @ratson

[2017-08-02 05:44] sekocit commented on #91
Hi @amokrunner ,

You need to bind this event to a function. Like:

`document.addEventListener("admob.banner.events.OPEN", onBannerOPEN, false);
function onBannerOpen(){console.log("Banner Opened")};`

[2017-08-02 06:01] #96 closed

[2017-08-03 10:39] anilk533 commented on #93
Same issue

[2017-08-04 00:09] realleoman opened #98 "Can I use it with a DFP Server"
Hi ratson:

I am using your plugin for my hybrid app but I would like to check if I can use DFP code instead of AdMob ads.

I was looking at the admobpro plugin but I don't think his developer is really honest about the 2% sharing..

Thanks for your answer!!!

[2017-08-05 11:14] curtis18 opened #99 "Unable to show banner on apk release version"
I find an app cannot show banner on apk release version, but it works fine on testing version in Android emulator. When I tried to build an app to production version and run the code on testing mode again. The following message will appear on debug console.

**"Native: tried calling AdMobFree.config, but the AdMobFree plugin is not installed.
Install the AdMobFree plugin: 'ionic cordova plugin add

[2017-08-07 18:39] michaelchoozini opened #100 "GADMAdapterFacebook"
I am using the admob free plugin. Also I used the Admob mediation and added Facebook Audience. I am getting an error:
<Google> Cannot find an ad network adapter with the name(s): GADMAdapterFacebook.

[2017-08-07 18:48] SquizYourMind opened #101 "GADMAdapterFacebook"
<Google> Cannot find an ad network adapter with the name(s): GADMAdapterFacebook

[2017-08-07 19:05] SquizYourMind opened #102 "DummyAdapter"
<Google> Cannot find an ad network adapter with the name(s): com.google.DummyAdapter

[2017-08-07 23:54] ElieSauveterre commented on #78
I have the same error.
It seems to only crash on the first time I call admob.banner.prepare and the promise is resolved without error and return "OK"

[2017-08-08 15:52] erperejildo opened #103 "Always displaying default ads"
Maybe I'm doing something wrong because I can't get rid of the default ads.
This is my config:
[code]
And to display it `admob.interstitial.prepare();`

[2017-08-08 15:54] erperejildo commented on #103
to test it has to be on production here:
https://play.google.com/store/apps/details?id=com.drodriguez.recipic&hl=en_GB
(just add a Youtube video as a recipe)

[2017-08-13 13:40] qpbp commented on #103
Hi, there! I have the similar an issue in my IOS app.

[2017-08-14 17:16] merbin2012 opened #104 "How to show bottom and top banner?"
I want to show top and bottom banner ad at the same time, but when I open the next ad previous banner ad will hide automatically.

[2017-08-17 12:47] JohnScottMcNerney opened #105 "isTesting Reward Ads are live ads"
I seem to be seeing live Reward Ads when in test mode (isTesting=true).

I can't be 100% sure, because I don't know what to expect, but they all seem real (mostly game apps). I would expect a test-mode video that says "this is a test mode video".

I do not want to click on one to test this out, because that's supposed to be a big "no-no".

Code is basically a copy/paste of the example. Works great

[2017-08-18 20:49] iampinheirosamuel commented on #94
I also got the same error

 TypeError: Cannot read property 'BOTTOM_CENTER' of undefined

please help with a solution

[2017-08-23 19:03] prwnstar42 opened #106 "showing blank banner"
I get a banner on my app but it is just a black bar

Here is the code i'm using to display it.

admob.banner.config({
                id: 'ad-id-removed',
                isTesting: false
            })
            admob.banner.prepare().then(function () {
                return admob.banner.show()
            }).catch(function (e){
                console.log(e)
            })

[2017-09-03 20:01] AI111 opened #107 "Banner overlap webview after interstitial ad was showed"
code for banner creation
public initBunner():void{
    this.admobFree.banner.config({
      id: config[this.platformName].bannerId,
      isTesting: true,
      autoShow: false,
      overlap: false,
      offsetTopBar: false,
      bannerAtTop:false
    });
    this.admobFree.banner.prepare()
      .then(() => this.admobFree.banner.show())
      .catch(e => console.log(e));
  }`
`
code for inters

[2017-09-03 20:59] angelbuzon commented on #45
first of all: congratulations on the plugin, it's great ;)

My problem is with the rewarded-videos, i am using only Admob network. I had create a reward ad on my Admob panel.
When i run admob.rewardvideo.prepare()  i only get a LOAD_FAIL event.

I have made several combinations of plugins (thanks @pinikynet ). This is what I have now. but nothing, i can not make it work.

my plugins list:
cordova-

[2017-09-04 10:04] vietdh01 commented on #99
Hi, is your issue resolved? I am having same problem, please help, thank you!

[2017-09-04 13:11] vietdh01 commented on #99
I am using Ionic 2 and my problem is solved, just add Admob library and function to app.component.ts not to home.ts.
Thank to this topic: https://forum.ionicframework.com/t/ionic-doesnt-work-with-admob/96985/3

[2017-09-06 18:21] iPzard opened #108 "Admob account UI is different now, documentation includes incorrect steps."
This is the phrase I'm talking about:
Go to AdMob portal, click "Monetize a new app" button to create new ad unit.

Current steps:
Apps > Add App. Once App has been added, click the app on the left-hand side and select "Ad units" followed by "ADD AD UNIT"

IMO, to avoid further depreciation I recommend the following wording:
Go to the AdMob portal and add your app (if you haven't done so already),

[2017-09-08 12:55] merbin2012 commented on #77
Did you get the solution? please share

[2017-09-08 12:58] merbin2012 opened #109 "F"
I get this error:
Failed to load resource: The requested URL was not found on this server.
file:///var/containers/Bundle/Application/323813D6-3E08-42C1-95CD-F06A5F53F1F7/PoKo.app/www/plugins/cordova-plugin-admob-free/www/admob.js.map

But the plugin is correctly installed in the platform directory under ios. But I have seen ads in some time (I think, ads are shown if it is open long time)

[2017-09-16 14:50] RafilAlArs commented on #107
Happened with me Banner overlap webview after interstitial ad was dissmesed

[2017-09-16 14:53] RafilAlArs opened #110 "How to handles interstitial dismiss event on ionic 3?"

[2017-09-17 16:48] AI111 commented on #107
My hotfix, just redraw banner after interstitial close
[code]

[2017-09-18 07:23] omerorkmez commented on #87
Hi,

I look forward to your support.  :(

[2017-09-24 11:33] f3k0 commented on #76
Hi, I am having the same issue, the add works ok when running in emulator. However, it is not working in the published app.

Here is a sample code, could you help please?

        var admobid: AdMobType;
        if (/(android)/i.test(navigator.userAgent)) {
          admobid = { // for Android
            banner: 'ca-app-pub-XXXXXX'
          };
        } else if (/(ipod|iphone|ipad)/i.test(naviga

[2017-09-27 16:24] khoabuidev commented on #107
I have the same problem with Al111 and cannot solve that problem. Now I am not use banner on IOS anymore.

[2017-09-27 20:08] curtis18 commented on #99
My problem is resolved. I just finally tried to reinstall all AdMobFree, Android Studio, NPM, Cordova, and Ionic. The function can work no matter it is located in home.ts / app.component.ts. It should work after updating all software's version. Hope it can help. Thank you.

[2017-10-07 20:30] tsiliakoudis1 commented on #110
for ex. If you want to check when an interstitial is closed you can use:

[code]

[2017-10-08 13:10] prantikv opened #112 "Hardware back not working after displaying ads"
**Ionic version:**  (check one with "x")
(For Ionic 1.x issues, please use https://github.com/ionic-team/ionic-v1)
[ ] **2.x**
[x ] **3.x**
[ ] **4.x**

**I'm submitting a ...**  (check one with "x")
[ x] bug report
[ ] feature request

**Current behavior:**
After registering the hardware back then if ads are displayed, pressing the hardware back exits the app and does not bind to the normal behav

[2017-10-09 09:18] jnccneto opened #113 "multiple admob accounts"
Hi

I am trying to setup some revenue sharing suing multiple admob accounts.
I would use it for reward videos
what would be the correct way to set it:
clone/copy the admob object multiple times?
would I still get the event alerts ( loaded/viewed ...) for each cloned object?

OR
do a new setup for every new ad?

OR
other way to achieve this revenue sharing?

thanks

[2017-10-13 03:29] prantikv commented on #112
This is not an issue with Ionic Framework as clarified in this [issue](https://github.com/ionic-team/ionic/issues/13075#issuecomment-336237416) . This clearly means the plugin is at fault.

Kindly solve this issue at the earliest.

[2017-10-13 12:14] ziyaaskerov opened #114 "Google ads do not apper"
Hi google adds disapper after sometime, after that time it is not even appear at test mode

[2017-10-14 04:00] kalok1989 opened #115 "Disable user close rewardvideo"
Hi, there,
as the title, is there have any code that can disable the user to close the reward video or hide the button??
thanks.

[2017-10-14 13:34] prantikv commented on #112
@ratson This may be relating to this issue [here.](https://github.com/ratson/cordova-plugin-admob-free/issues/112)

[2017-10-15 12:23] prantikv commented on #61
yes getting this as well. With test and live ids. This happens with both banner and interstitials.

[2017-10-15 13:33] prantikv commented on #61
@ratson

This happens when newer versions of cordova-android version is above 5.1.0.

Adding platform as `ionic cordova plaform add android@5.1.0` works.

[2017-10-18 03:30] msolovyov opened #116 "Phonegap: cannot import the plugin"
Can't seem to get this plugin to work by following the instructions.
Did phonegap plugin add cordova-plugin-admob-free
Tried: import {banner} from 'cordova-plugin-admob-free/admob'
But it complained it could not find the module.
Tried: import {banner} from 'cordova-plugin-admob-free/www/admob'
Then got the following error: Cannot find module 'cordova/exec' from 'cordova-plugin-admob-free/www/admob

[2017-10-18 21:37] felix9607 commented on #110
[https://ratson.github.io/cordova-plugin-admob-free/variable/index.html#static-variable-rewardvideo](url)
here are all admob free events!

btw, dont have to enter sth at 'event', just call any functions below... :)

[2017-10-20 13:17] AlfredGjini commented on #116
Hello, I'm having the same problem, were you able to solve it?

[2017-10-20 13:32] AlfredGjini commented on #116
You have to wrap it in Ionic Native: npm install --save @ionic-native/admob-free
Check this tutorial: https://ionicframework.com/docs/native/admob-free/

[2017-10-21 18:02] pupazze commented on #109
Got exactly the same problem, any news on this?

[2017-10-23 17:59] Blanketsniffer commented on #115
it's against AdMob policy, believe me, they'll  catch it sooner or later

[2017-10-23 19:37] kernel64 commented on #106
I have the same issue

[2017-10-29 23:17] younesyzd opened #117 "ad sharing question"
this plugin is free 100% or we are sharing ads with you ?

[2017-10-31 11:59] erperejildo opened #118 "Ionic 2/3 issue with Interstitial"
Can't display this ad on my app.

According with Ionic documentation this is the correct way:
[code]

But I get this error:

So I tried this:
[code]
... and works!

I also tried your way (https://ratson.github.io/cordova-plugin-admob-free/variable/index.html#static-variable-interstitial) but doesn't work either:
[code]

No sure if the problem here is either the way of Ionic manages these promises

[2017-11-06 13:58] erperejildo opened #119 "Not showing ads after update"
Not sure if this is a problem of this library or it's related with Ionic. Either way I created an issue on Ionic repo but I'd like to leave here the link just to double check if someone else is facing the same issue:
https://github.com/ionic-team/ionic-native/issues/2091

Resuming: I can't get this library working with latest version of Ionic (3.7.1). It doesn't display anything and only when I fo

[2017-11-07 12:52] erperejildo commented on #119
No ideas?

[2017-11-07 12:53] erperejildo commented on #114
@ziyaaskerov is this problem similar to yours?
https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2017-11-07 22:56] erperejildo commented on #114
You mean yours?

[2017-11-08 12:10] fobaz opened #120 "Doesn't show interstitial with Firebase and Ionic"
Hello,
I'm trying to show interstitial ad, but it fails with error

I am preparing the interstitial with:
`this.admobFree.interstitial.prepare()`

And showing it with:
[code]

also, this stacktrace might be useful:

Using latest Ionic (3.8.0), latest cordova-plugin-admob-free (0.11.0) and latest  cordova-plugin-firebase (0.1.24).
I think this plugin is not working properly with Firebase. Any ideas

[2017-11-08 12:24] fobaz commented on #119
Maybe this is related? https://github.com/ratson/cordova-plugin-admob-free/issues/120

[2017-11-09 10:48] erperejildo commented on #119
Might be more related with this one: https://github.com/ratson/cordova-plugin-admob-free/issues/118
I don't get any issue here, just no banner at all, but the code seems correct. At least it was working as a charm before updates as I comment

[2017-11-13 13:24] ricardodantas commented on #120
Same problem to me.  I also tried with banner version and doesn't work.

[2017-11-13 20:29] bentzibentz commented on #119
Any news on that?

[2017-11-17 14:26] amokrunner opened #121 "iPhone X - Banner"
Does the plugin require updating to support the iPhone X?
[24 October 2017: Prepare your ads for iPhone X](https://support.google.com/admob/answer/7553599?ctx=ui&hl=en)
[iPhone X Ad Rendering](https://developers.google.com/admob/ios/x-ad-rendering)

[2017-11-17 16:56] erperejildo commented on #117
100% free

[2017-11-17 16:58] erperejildo commented on #106
Same problem here:
https://github.com/ratson/cordova-plugin-admob-free/issues/119

I think this plugin is not longer under maintenance.
Considering the paid one

[2017-11-17 17:51] hypesol opened #122 "Can I show Ad in content"
Hello

I want to show native ad in content. But here i could not find the option. Can you please guide me that how can I place ad in content or anywhere I want.

Thanks

[2017-11-18 16:29] 5HARK commented on #119
@erperejildo when i tested it on the pure empty cordova project. it works well.
I proceeded in the following order.
1. Make empty cordova project.
2. Inject cordova-plugin-admob-free example codes ([https://github.com/ratson/cordova-plugin-admob-free/tree/master/examples/basic](url))
3. Test it on Android Emulator.
4. It works well without any problems.(Banner & Interstitial Ads)

[2017-11-18 16:54] 5HARK commented on #119
I just tried it again and it works well in my ionic3 + angular4 project.

Below are the tasks I did.

- Update cordova
- Update ionic, ionic-native & etc
- Reinstall cordova-plugin-admob-free

and it works.

[2017-11-20 10:19] erperejildo commented on #119
Ok @5HARK I'll try again but as commented this happened to me because I updated everything. I'm using Cordova 7.1.0 which is the latest version: https://www.npmjs.com/package/cordova

I updated, removed node_modules folder, cleaned cache, I ran `cordova prepare` and I tried on Mac and Windows. The only thing I haven't tried is with the emulator.

Tbh I'm almost sure the problem is not this plugin

[2017-11-20 14:09] ratson commented on #117
As @erperejildo said, it is 100% free.

[2017-11-20 14:09] #117 closed

[2017-11-20 14:11] ratson commented on #121
Not sure as I have no iPhone X to test, would you try the latest version and report the result?

[2017-11-20 14:13] erperejildo commented on #119
Ok, just tried with the emulator and works. We are using Ionic and Angular here as well so I don't know what the problem is.

@ratson any ideas?

[2017-11-20 14:19] ratson commented on #119
As mentioned in https://github.com/ratson/cordova-plugin-admob-free#ionic-support,
I don't know much about Ionic, which I have no idea what's wrong.

@erperejildo If you prepare a repo with minimum example showing the problem, I would take a look and see if any I could help.

[2017-11-20 14:21] ratson commented on #122
AFAIK, NativeAd is not impossible for Cordova app, or you may prove me wrong.

[2017-11-20 14:21] #122 closed

[2017-11-20 14:23] erperejildo commented on #119
Sure, I will create a smaller repo with this issue now and the steps to reproduce it

[2017-11-20 14:25] ratson commented on #116
@msolovyov Does @AlfredGjini suggestions work for you?
Or you may provide a repo demonstrate your problem, your error seems relate to project setup.

[2017-11-20 14:26] #115 closed

[2017-11-20 14:28] ratson commented on #114
@ziyaaskerov Could you provide more information about your problem, better with a repo showing the problem?

[2017-11-20 14:32] ratson commented on #113
I would say this is not supported use case, but nothing to prevent you trying this setup and check if it works.

I will leave this open, so others could input.

[2017-11-20 14:47] #110 closed

[2017-11-20 15:04] ratson commented on #108
Good suggestion, updated accordingly.

[2017-11-20 15:04] #108 closed

[2017-11-20 15:07] ratson commented on #109
@merbin2012 Would you prepare a repo showing your problem, I could not tell anything from the message.

[2017-11-20 15:10] ratson commented on #106
Please try out the latest version see if this is fixed.

[2017-11-20 15:12] ratson commented on #105
@JohnScottMcNerney It is not suppose to be, would you create a repo with the code?

[2017-11-20 15:14] ratson commented on #104
Not a supported feature, PRs are welcome.

[2017-11-20 15:16] ratson commented on #90
Please try out the latest version see if this is fixed.

[2017-11-20 15:19] ratson commented on #103
@erperejildo Did you solve this?

[2017-11-20 15:20] ratson commented on #102
@SquizYourMind Would you provide more information?

[2017-11-20 15:22] ratson commented on #100
@michaelchoozini Would provide a repo with your setup?

[2017-11-20 15:22] ratson commented on #101
Duplicate to https://github.com/ratson/cordova-plugin-admob-free/issues/100

[2017-11-20 15:22] #101 closed

[2017-11-20 15:23] #99 closed

[2017-11-20 15:30] #68 closed

[2017-11-20 15:32] ratson commented on #103
Duplicate to https://github.com/ratson/cordova-plugin-admob-free/issues/69

[2017-11-20 15:32] #103 closed

[2017-11-20 15:32] ratson commented on #92
Duplicate to https://github.com/ratson/cordova-plugin-admob-free/issues/69

[2017-11-20 15:32] #92 closed

[2017-11-20 15:35] ratson commented on #87
@omerorkmez Are you using the git version, which is not supported?

[2017-11-20 15:35] ratson commented on #73
Close as no reply.

[2017-11-20 15:35] #73 closed

[2017-11-20 15:38] ratson commented on #74
Duplicate to https://github.com/ratson/cordova-plugin-admob-free/issues/83

[2017-11-20 15:38] #74 closed

[2017-11-20 15:38] #83 closed

[2017-11-20 15:39] ratson commented on #104
Duplicate to https://github.com/ratson/cordova-plugin-admob-free/issues/75

[2017-11-20 15:39] #104 closed

[2017-11-20 15:41] ratson commented on #76
Please try out the latest version see if it is fixed.

[2017-11-20 15:44] ratson commented on #84
The latest version should fix this.

[2017-11-20 15:44] #84 closed

[2017-11-20 15:45] #91 closed

[2017-11-20 15:47] ratson commented on #98
Not sure as I am not using it.

[2017-11-20 15:48] ratson commented on #94
@KishanIos007 Would you prepare a repo with code to show the problem?

[2017-11-20 16:08] ratson commented on #93
Duplicate to https://github.com/ratson/cordova-plugin-admob-free/issues/69

[2017-11-20 16:08] #93 closed

[2017-11-20 16:22] erperejildo commented on #103
Can't test it. Blocked now with https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2017-11-20 16:28] ratson commented on #112
@prantikv You repo does not showing any ads and the back button works as expected. Here is the [repo](https://github.com/ratson/ionicAdsBack) I am testing.

[2017-11-20 16:38] erperejildo commented on #119
Ok, I prepared this repo @ratson: https://github.com/erperejildo/admob-free-ionic
One thing, I said that it was working with the emulator and it's not. I tried with the other plugin (the paid one).

[2017-11-20 22:34] msolovyov commented on #116
I'm using plain phonegap and I didn't want to bloat the app by including ionic-native. I ended up using a different admob plugin.

[2017-11-21 07:56] jnccneto commented on #113
I am using on trial, so far ok
I do a new setup every time I want to switch account

[2017-11-21 12:53] ratson commented on #113
Cool, would be great if you could share code about it is done, so others could benefit from it.

[2017-11-21 12:54] ratson commented on #116
Closing this as nothing is actionable.

[2017-11-21 12:54] #116 closed

[2017-11-21 16:29] ratson commented on #119
@erperejildo I updated the dependencies and tested on my Android device, it shows the banner.

![screen](https://user-images.githubusercontent.com/2682937/33084146-293e2fee-cf1c-11e7-93d1-bef1d41e5d2e.png)

Here is my code: https://github.com/ratson/admob-free-ionic

[2017-11-21 23:07] erperejildo commented on #119
I tried this:
- Your repo: **worked**
- My app adding this dependencies (Cordova and Ionic): **didn't work**
- I tried my repo (demo) without dependencies: **worked** (unexpected). Before I tried on iOS emulator and didn't work
---------------------
- Copied whole package.json from my app to my repo.
- Removed node_modules folder and ran npm install and removed and added Android platform: **didn't

[2017-11-21 23:34] erperejildo commented on #119
I've changed the package.json on the repo as well:
https://github.com/erperejildo/admob-free-ionic/blob/master/package.json

[2017-11-22 10:29] erperejildo commented on #119
I'm getting some issue trying on Mac now. Maybe it's not related at all, but just in case. This happens after remove node_modules folder and running `npm install` on the repo with all dependencies (the package from my app):
[code]

[2017-11-22 16:34] ratson commented on #119
@erperejildo Did you find out which plugin causing the issue? I am not going to testing one by one.
I see you have included `cordova-plugin-admobpro`, which likely be the problem as both interact with admob.

[2017-11-22 19:51] erperejildo commented on #119
No, I haven't found it yet. I was trying right now in fact. I'm having a lot of permission issues (Mac and Windows) and I don't know why.

Yes, when I couldn't get this working with this one I decided to try that one out to double check it wasn't an Admob issue.

I'll keep you updated

[2017-11-23 08:47] rapiddevpro commented on #83
Hello, Everyone, I found very simple solution for this :)

Just use the banner add in your root component i.e app.component.ts ( Remove banner ad from other pages of your app )

this.platform.ready().then(() => {
      // Here you have to set banner ads :)
      this.showBanAd();
      this.splashScreen.hide();
});
Here is my app running banner ad : https://play.google.com/store/apps/details?id=co

[2017-11-24 02:57] patrickboulay commented on #118
Same problem for me on Android

[2017-11-24 08:08] jnccneto commented on #113
Right now the code is embeded in the app code.
If I make it independent of app, i can post it.

for reference I do a new adbmob setup every time I want to switch account, and then wait for ad to load. there are counters for checking if the sharing is fair ( 50-50 ) and selecting witch accout to use

[2017-11-24 09:52] maciejswis opened #123 "problem with banner when using a camera preview"
Hi,
We are using your plugin and all works pretty well.
Unfortunately we encounter a problem, once one would start the camera - using the cordova-plugin-camera-preview plugin - the banner is not shown any more. The scenario is: we have a banner on one page (home), and user can go to other page with camera preview,
after he comes back to home page banner is gone.  It is working correctly for other

[2017-11-24 20:44] younesyzd opened #124 "sdk ads verison ?"
Hello Thanks for this plugin
what  SDK ads verison use in android ?
because i received message if i'm use sdk less than version android 7 api 24 the ads is not showing

[2017-11-25 01:30] ratson commented on #123
Thanks for reporting this.
Looks like you have a special use case, I don't have time to implement it, feel free to send a PR to improve it.

[2017-11-25 01:32] ratson commented on #124
The SDK version could be found at https://github.com/rehy/cordova-admob-sdk

[2017-11-25 01:32] #124 closed

[2017-11-25 01:39] ratson commented on #118
`show()` should be called after `admob.interstitial.events.LOAD` event after `prepare()`.

@erperejildo Did you solve this? Maybe you could put up the answer here.

[2017-11-25 03:05] patrickboulay commented on #118
Not sure to understand about the events.LOAD.

I call the interstitial like this:
[code]
Is not correct?

[2017-11-25 11:35] erperejildo commented on #119
@ratson this is being quite complex to debug. I'm just removing one by one, removing the whole `node_modules` folder and running `ionic cordova prepare again`.

At some point it worked, it just showed up the banner but when I did exactly the same on my project with that package.json (I was trying on the demo project with the big package.json) it didn't work.

And (which is more weird) when I tried

[2017-11-26 07:55] pjoriginal opened #126 "Compatibility with FCM"
I tried using [the FCM plugin](https://github.com/fechanique/cordova-plugin-fcm) with the admob-free plugin in ionic.
They both work perfectly if used independently.

But an error pops up saying:
Found com.google.android.gms:play-services-base:+, but version 9.0.0 is needed for the google-services plugin.
Found com.google.android.gms:play-services-ads:+, but version 9.0.0 is needed for the google-

[2017-11-26 13:51] kjeacle commented on #121
FWIW, if your app only uses a banner at the bottom of the screen, this change to CDVAdMob.m is enough to lift the banner out of the safe area:

[code]

[2017-12-01 04:27] trfife commented on #119
I'm having a similar issue. When I hook my phone to logcat I get these errors:

1-30 23:18:14.783 3796-3796/io.ionic.starter W/Ads: Failed to load ad: 2
11-30 23:18:14.783 3796-3796/io.ionic.starter D/CordovaWebViewImpl: >>> loadUrl(javascript:cordova.fireDocumentEvent('admob.banner.events.LOAD_FAIL',{"error":2,"reason":"Network Error","adType":"banner"});)
11-30 23:18:14.784 3796-3796/io.ionic.st

[2017-12-01 11:13] erperejildo commented on #119
Might be a different one maybe because I don't get any errors at all, but try that, a new project and use on that project your package.json from the real project

[2017-12-02 09:07] qpbp opened #127 "ERROR: Method 'createRewardVideo:' not defined in Plugin 'AdMob' in Xcode"
Hi! The reward video not working on a real device (all is ok in Ionic DevApp).

I have the next method (i simplified the code), which is using to show RewardVideo:

[code]

When I successfully build the project using `ionic cordova build ios` and trying to call this method on a real device, I see the next log in Xcode Terminal:
[code]
Also, The simillar code related for interstital ads is working

[2017-12-03 19:52] ManoloPololo commented on #87
Hi. I'm facing the very same problem. I've created a test app, copies the files into the project, but the ads don't show.
Steps I've followed:
- corvoda create TEST
- cd TEST
- cordova plugin add cordova-plugin-admob-free --save
- cordova platform add android
- (Copy the index.html and js/index.js files into the project, from Basic folder).
- cordova build android

When testing the app, no ad show

[2017-12-03 21:31] Abdeza opened #128 "Second admob banner inside another view ionic 1"
Please im working on project , bottom ads banner work perfectly .
i want to add another ads banner inside Details.html view after comment button for example ..
i'd tried to put a js code to show another ads on the top in view  but it dosent work .

any suggestions please ?

[2017-12-04 14:03] ManoloPololo commented on #128
Can you show us the index.html and index.js content? And then, details.html in order to see what is failing?

[2017-12-04 14:28] rashnk opened #129 "Starting on 23 January 2018, we will no longer support Google Mobile Ads (GMA) SDK versions lower than 7.0.0 for Android"
Hi, i recived a email from google admob : "Starting on  23 January 2018, we will no longer support Google Mobile Ads (GMA) SDK versions lower than 7.0.0 for Android or iOS. To continue serving mobile ads from AdMob, Ad Exchange, or DFP after this date, please upgrade to the latest Google Mobile Ads SDK"

I am using this plugin on all my apps
Today after noon, none my apps showing ads,only black co

[2017-12-04 15:57] Abdeza commented on #128
thanks for ur repley ,  @ManoloPololo
 this is my index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/vspfonts/vspfonts.css" r

[2017-12-04 18:11] ManoloPololo commented on #128
As far as I know... It's not possible to show more than one banner in same screen.

[2017-12-05 02:12] Abdeza opened #130 "show banner ads in single ionic view"
Hi there , im using this plugin which it work perfectly ... admob banner work good for all view  ionic v1 app .
i want to show my banner on an view lets say after a button inside view.html ,  i've added the same code for banner ads which work for all views  , between <script> </script>  in view.html . but it dosent work !!
any idea how i can make it happen & thanks .

[2017-12-05 15:08] aldoso opened #131 "Error after installing this plugin"
**[SOLVED]**

Actually it works like a charm with this code:
`import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';

import { AdMobFree, AdMobFreeBannerConfig, AdMobFreeInterstitialConfig, AdMobFreeRewardVideoConfig } from '@ionic-native/admob-free';

@Component({
  selector: 'page-home',
  templateUrl: 'home.html'
})
export class HomePage {

  constructor(publi

[2017-12-05 18:35] aldoso commented on #131
it worked it I add a button with click function on home.html
`<ion-button (click)="adShow()">Click me!</ion-button>`
and on home.ts this code:

`import { Component } from '@angular/core';
import { NavController } from 'ionic-angular';

import { AdMobFree} from '@ionic-native/admob-free';

@Component({
  selector: 'page-home',
  templateUrl: 'home.html'
})
export class HomePage {

  constructor(pub

[2017-12-07 06:30] malikalichsan commented on #83
@rapiddevpro thanks, it works for me :)

[2017-12-07 09:27] matteobattista opened #132 "Incompatibility with phonegap-plugin-push"
Hi, no build with admod-free and phonegap-plugin-push...

[code]

[code]

[2017-12-07 22:14] JimJty commented on #118
@patrickboulay, this isn't in the docs, but there are some examples:

https://github.com/ratson/cordova-plugin-admob-free/blob/master/examples/basic/www/js/index.js

Basically you need to listen for events from the admob directly (**if you set autoShow to false in the config**). Here is your code rewritten (partially), to listen for the admob load event:

[code]

[2017-12-08 15:00] momikus opened #133 "Event not firing at iOS devices"
Plugin is great. However, "admob.rewardvideo.events.REWARD" event is not firing at iOS devices.

[2017-12-08 20:15] wo-github commented on #126
You can try to remove platform and add platform again.

[2017-12-08 20:16] wo-github commented on #106
Same problem here, but just on Android devices. The testbanner works correctly, this happens with version 0.12.1 too.

[2017-12-09 04:31] pjoriginal commented on #126
Worked around the issue by using [this firebase Plugin](https://github.com/arnesson/cordova-plugin-firebase) instead. This seems to be compatible. :)

[2017-12-09 07:36] faytekin commented on #133
+1

[2017-12-09 18:06] erperejildo commented on #118
No @ratson, I didn't solve it yet but only because I'd need to fix the other bug first before this one

[2017-12-10 00:52] erperejildo commented on #106
@ratson I tried with new version but still not working

[2017-12-10 01:49] ratson commented on #132
@matteobattista Would you try the latest version to see if it resolves this issues?

[2017-12-10 01:49] ratson commented on #129
@rashnk Would you try the latest version to see if it resolves this issues?

[2017-12-10 01:51] ratson commented on #126
@pjoriginal Would you try the latest version to see if it resolves this issues?

[2017-12-10 15:03] Filavision opened #134 "Error when compiling with build.phonegap.com"
It worked well 2 days ago but today i got this error when i compile the app with build.phonegap.com:

`Prepared android project successfully
--------------------------------------------------------------------------------
PLUGIN OUTPUT
--------------------------------------------------------------------------------
Fetching plugin "cordova-plugin-admob-free" via npm
Installing "cordova-plugin-admo

[2017-12-11 04:34] rashnk commented on #129
Thank you, i have not updated the plugin,  but Ads were shown after that(ithink it was admob  side issue) , and no issue as of now,
so the latetest version will work after jan 23 right?

[2017-12-11 08:11] wo-github opened #135 "Version 0.13.0 has build error"
After Update the version to 0.13.0 I can`t build the app on Android.
This is the error:

Error: cmd: Command failed with exit code 1 Error output:
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: Some input files use or ove

[2017-12-11 09:19] matteobattista commented on #132
Thanks to @ratson , the new cordova-plugin-admob-free version (0.13.0) fix the issue with phonegap-plugin-push.
(Tested on a new project)

[2017-12-11 09:19] #132 closed

[2017-12-11 14:49] qpbp opened #136 "After publishing to App Store its shows test interstitial banner"
Hi! I published app to app store with interstitial banner and it still test banner. I set `isTesting` flag to `false` and all was ok on Ionic DeVApp. But now, when I downloaded it from App store, i see it is test ad. But with the same code all is ok on Ionic DevApp.

Could you help me please?

[2017-12-11 18:54] rebrandsoftware commented on #134
It works for me if I use NPM instead:

https://www.npmjs.com/package/cordova-plugin-admob-free

<plugin name="cordova-plugin-admob-free" spec="0.13.0" source="npm" />

[2017-12-11 19:26] cesarmart76 commented on #119
Recently I had a similar issue. The problem was that my app was in the Designed for Families program of Google (in the Google Play Console settings).

Removing my app from this program solved the issue. Apparently ads not show when you are in this program.

[2017-12-12 03:36] aldoso commented on #136
woaw
Do you have a screenshot ?

[2017-12-12 10:37] erperejildo commented on #119
Well, mine is in Designed for Families program as well, but tbh that's not related with local deployment. And also doesn't make any sense because you still having the option on your developer console to check if you app is displaying ads or not.

More info: https://support.google.com/admob/answer/6223431?hl=en

[2017-12-12 10:49] erperejildo commented on #119
This is another app that I've got (an old one):
https://play.google.com/store/apps/details?id=drodriguez.apps.Words

It's using this plugin as well and it's also in Designed for Families program. Doesn't have any problem with any kid of banners

[2017-12-12 10:52] erperejildo commented on #119
@trfife did you find something btw?

[2017-12-12 15:43] trfife commented on #119
@erperejildo After fighting with it for a while I decided to give up on ads and do an in-app-purchase instead to generate revenue since I needed to complete this project by last Sunday. Luckily, with this app I could just turn off a feature till the user makes the purchase. As for the conversation above, I hadn't even got to the play store yet when I hit this error so I hadn't set if my app was fo

[2017-12-12 15:55] cesarmart76 commented on #119
If you are having trouble with this, I recommend to change the package name of your app just for testing (Ex. com.testing54.asdadas). I spend hours and hours trying to fix this problem with the ads and at the end it was nothing related with the plugin or with Ionic/Cordova, the problem was with Google.

If you are using a package name who already exists, and that package name is related to an app

[2017-12-13 09:53] qpbp commented on #136
I'm using this service:
[code]

and how I calling this service:

[code]

[2017-12-14 11:16] oguzhansevim commented on #121
Any solution?

[2017-12-15 07:55] sumolex commented on #133
Hi, thanks for the plugin! But, what about "admob.rewardvideo.events.REWARD" it doesn`t work! :(

[2017-12-15 18:08] Jyjoo opened #137 "Android 4.4 issue"
Hi,

First of all thank you so much for your plugin.
I have a question. I have an issue we android 4.4 platform in production.

May you help me with a bit more details ?

best regards

[2017-12-16 06:14] inicklas commented on #123
Thanx for this plugin sir!.

@maciejswis if you still need a way around this issue, you can try setting `toBack` to `false` in `CameraPreviewOptions`.

[2017-12-17 08:17] qpbp commented on #136
@ratson could you response please ?

[2017-12-18 08:28] maciejswis commented on #123
Thanks for hint @inicklas,
unfortunately in our case we want to use toBack with true.

Anyhow thanks.

[2017-12-23 06:54] androcoder opened #138 "Failed to install this plugin after upgrading to cordova 8.0"
**Java JDK:** installed 1.8.0
**Android SDK:** installed true
**Android target:** installed android-26,android-25,android-23,android-22
**Gradle:** gradle-4.4.1

When I tried to install Admob Free this error started like:
[code]

[2017-12-23 07:01] #138 closed

[2017-12-23 21:16] X0t0 opened #139 "Question about android admob sdk?"
this plugin work with last version of android Admob sdk ?
if not . what the version of android Admob sdk ? .
because admob going to stop showing ads in old version .
and thanks

[2017-12-24 18:12] MichaelPriebe commented on #134
Getting this error, above solution did not work.

[2017-12-24 23:09] be-path commented on #134
cordova-plugin-admob-free 0.13.0 requires cordova-android >= 6.3.0.
If you are not mind using older cordova-plugin-admob-free, try this.

PhoneGap Build
<gap:plugin name="cordova-plugin-admob-free" spec="0.12.0" source="npm" />

[2017-12-26 12:44] ahmetakin commented on #134
I have encountered same issue today.So I have solved problem downgraded cordova-android version 7.0.0 to 6.3.0. With this version downgrade plugin added and ads shown in application.

[2017-12-27 08:57] alfredofv opened #140 "iOS banner not clickable/tappable"
Hello,

We are using your plugin with this configuration:

`let bannerConfig: AdMobFreeBannerConfig = {id: id, autoShow: true, size: size};`

On iOS this banner is showed as we expect, but it is not clickable.
Same configuration on android is working (we see the banner, and we can click on it).

Are there anything that I'm missing?

Regards

[2017-12-27 14:02] calebeaires commented on #134
After ages...

1. Install last cordova `npm i cordova -g`;
2. Remove cordova android from your app `ionic cordova platform rm android`;
3. Add cordova-android 6.3.0 `cordova platform add android@6.3.0`;
4. Run: `ionic cordova run android`;

[2017-12-28 00:38] matheuscaldasrj opened #141 "Ionic project crashes after adding cordova-plugin-admob-free"
Hi everyone, my project was working fine untill I add cordova-plugin-admob-free.

When I try to run

`ionic serve` the app starts on browser normally

but when I try running in a real device `ionic cordova run android` to test admob I get the following error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':transformClassesWithDexForDebug'.

* Try:
Run with

[2017-12-28 02:05] laziaf commented on #139
+1

[2017-12-28 19:28] merbin2012 commented on #141
install lowest version of this plugin
cordova plugin add cordova-plugin-admob-free@0.12.1

[2017-12-28 19:28] merbin2012 commented on #137
install lowest version of this plugin
cordova plugin add cordova-plugin-admob-free@0.12.1

[2017-12-28 19:28] merbin2012 commented on #135
install lowest version of this plugin
cordova plugin add cordova-plugin-admob-free@0.12.1

[2017-12-30 04:40] kumaravel95 commented on #141
just try to remove the platform and add the platform again.

[2017-12-30 04:43] kumaravel95 commented on #135
just try to remove the platform and add the platform again.

[2017-12-30 18:40] Blanketsniffer commented on #139
+1

[2018-01-01 03:47] rlmax commented on #140
i  have a IOS problem not show ads but android is working fine ... please help me

[2018-01-01 09:27] Calsy commented on #139
+1

[2018-01-02 14:17] azarus opened #142 "Ionic Support"
Ionic Support

Hey as you wrote. I would be happy to answer questions & write examples. What are people usually looking for? I find the documentation sufficient to get started with ionic.

[2018-01-02 17:05] azarus commented on #134
@calebeaires FINALLY. THANKS!

[2018-01-02 17:05] azarus commented on #141
This worked for me.

[2018-01-02 17:11] matheuscaldasrj commented on #141
There was something wrong with version 0.13.0, so I tried 0.12.1 like @merbin2012  said.
After removing platform and reinstalling cordova it has worked fine.
Thank you all!

[2018-01-02 17:11] #141 closed

[2018-01-03 12:07] rjoydip opened #143 "Error during build on cordova 8.0.0"
Hi @ratson I am getting these error during build on ionic 1 project which is build on cordova latest version

[code]

[2018-01-03 15:02] #135 closed

[2018-01-04 07:14] wo-github opened #144 "Set Admob AppId"
Hello,
how could I set the AppId with this plugin?
https://developers.google.com/admob/android/quick-start
MobileAds.initialize(this, "YOUR_ADMOB_APP_ID");
Or which AppId is sending to Admob?
Please have a look here https://support.google.com/admob/answer/7356427?hl=de&ref_topic=7384409
To initialize the add, you need the Admob App-Id and the Banner-Id, but this plugin only set the Banner-Id.
How

[2018-01-04 07:56] kabus202 opened #145 "Memory Leak"
I have a problem with this plugin. After using it my memory increase every-time when the ads's shows. I'm using a interstitial. When i use https://github.com/floatinghotpot/cordova-admob-pro it's not happening. Is this a known issue?

![memory leak](https://user-images.githubusercontent.com/5297717/34554320-977e687a-f12c-11e7-9a85-93d9eaf4fb02.png)

I'm using ionic:

`cli packages: (/usr/local/lib

[2018-01-05 06:27] RainerAppel commented on #139
AdMob says:

[2018-01-05 10:01] silu44 commented on #129
how to know that your app is in safe side ?
(Ionic 2 app)

[2018-01-05 10:54] pjoriginal commented on #126
Doesn't work..

Steps to recreate..

$ cordova plugin add cordova-plugin-firebase
$ cordova plugin add cordova-plugin-admob-free
$ cordova build android

[2018-01-05 13:45] erperejildo commented on #119
@trfife I really sorry to hear that. Definitely this needs to be fixed ASAP. We're not talking here about a specific feature, is the main thing: we can't display any ads at all. Did you try at least with the pro one?
I'm almost sure that the problem is not related with this plugin anyway. And not even with Ionic. But tbh after all of this time I have no idea...

@cesarmart76 that's interesting. As

[2018-01-05 19:02] souly1 commented on #143
any update about this?

[2018-01-05 23:06] bulbul-ismail commented on #143
+1

[2018-01-08 10:33] rashnk commented on #129
@ratson , the notice is in admob site , not in  the app, so we need to  wait till jan 23 to check it works or not, thank yu :+1:

[2018-01-08 11:46] Gillardo commented on #144
any news on this?

[2018-01-08 11:57] shubham2811 commented on #106
same problem only black banner is coming no Ads are showing

[2018-01-08 16:50] jpglomot commented on #143
Same issue with a brand new generated empty ionic 3 application (same cordova 8.0.0 version)

[2018-01-09 12:46] itsyub commented on #143
Had the same issue when upgraded to cordova 8.0.0.
I fixed it by copying following 3 folders to `platforms/android/app/src/main/java/name/ratson/cordova/admob/`

`platforms/android/src/name/ratson/cordova/admob/banner
platforms/android/src/name/ratson/cordova/admob/interstitial
platforms/android/src/name/ratson/cordova/admob/rewardvideo`

it's dirty fix, but for now i can build my app. ;)

[2018-01-09 15:01] ratson commented on #142
@azarus Sorry for the late reply, thank you for interested in helping.
The issues labeled [ionic](https://github.com/ratson/cordova-plugin-admob-free/labels/ionic) are particular need help, as I am not familiar Ionic enough to answer.
If you find any of those could be documented, sending a PR improving the existing documentation is very welcome.

[2018-01-09 15:02] ratson commented on #131
Close as if it was solved.

[2018-01-09 15:02] #131 closed

[2018-01-09 15:04] ratson commented on #145
@kabus202 Thank you for raising this.
I may not have time to look at this deeply shortly.
PR to improving this is welcome.

[2018-01-09 15:53] azarus commented on #142
Most problems are relative to cordova, android sdk and not ionic.  I just shipped my app with no issues. i had to update cordova to make it work with ionic. I'll try to keep an eye on the issues and reply for ionic specific stuff. Thanks awesome work you done here makes life for many of us easier :)

[2018-01-09 16:58] RenaudROHLINGER commented on #143
So, basically as itsyub said we just need to update the plugin.xml file at the following lines :

Ligne 48 - 50

FROM
[code]
TO
[code]
But since cordova plugin add [GIT_URL] is not supported I cannot really try if the fix works & PR ...

[2018-01-09 19:16] charlyBerthet opened #146 "interstitial.show() - ERROR: interstitial not ready yet."
Hello,

I first call
[code]
And `this.interstitialPrepared = true;` is called so I assume my ad is ready.

But if I call `this.admobFree.interstitial.show()` after my `this.interstitialPrepared` var switch to `true`, I still have the following error "ERROR: interstitial not ready yet.".

**Notice :**
It works well with the following config  :
[code]
But not when I want to test with real ads
[code]

[2018-01-10 08:02] itsyub commented on #143
@RenaudROHLINGER yes that's what need to fix such error, but these changes are required only required for Cordova 8.0.0. If you do these changes in plugin.xml, it won't work with the previous version of Cordova.

[2018-01-10 14:11] shinobirozs commented on #143
Hi guys,

I did the exact things as indicated above. But I still cannot build for android. Any other techniques or steps that I can perform to fix this?

[code]

[2018-01-10 14:30] shinobirozs commented on #143
I recreated my cordova project from scratch and pasted the 3 folders

`
platforms/android/src/name/ratson/cordova/admob/banner platforms/android/src/name/ratson/cordova/admob/interstitial platforms/android/src/name/ratson/cordova/admob/rewardvideo`

To

`platforms/android/app/src/main/java/name/ratson/cordova/admob/`

and I am able to compile in android now. Without recreating the project, it seem

[2018-01-12 15:44] joaotocilo opened #147 "Build Failed Android"
The build crashes with the following error :

_Could not get unknown property 'PLAY_SERVICES_VERSION' for object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler._

**Cordova version :** 6.5.0
**Plugin version :** 0.12.1 ( I tried with the new version too )
**Android platform version :** 6.3.0

[2018-01-13 12:27] younesyzd opened #148 "published in play store"
yesterday i'm published my app in play store
when  i'm installe my app i see banner +interstital + reward video
but in my account admob i didn't find any impression from my country  ??

issues two i get more 200 insttalle in adssens and i have 0 impression for banner + 0 impression for interstital + 17 k demande impression for reward video vs 0 cklick ??
(i get the installe from google adword)

wh

[2018-01-13 15:22] CodedCloudz opened #149 "How to know your Google Mobile Ads SDK version"
Hi,
I just received the below notice in my Admob dashboard:

Starting January 23, 2018, we will no longer be supporting Android and iOS **Google Mobile Ads SDKs lower than version 7.0.0**. To continue serving ads from AdMob after this date, please upgrade to the latest Google Mobile Ads SDK.

Please how can I check and detect the **Google Mobile Ads SDK version in this plugin**.
I am using the bel

[2018-01-13 19:30] AlvaroAV commented on #147
I have the exact same issue with:

**Ionic version**: Ionic 3
**Cordova version**: 6.4.0
**Plugin version**: 0.12.1
**Ionic Plugin version**: 4.5.2
**Android platform version**: 6.4.0

I tried defining the variable PLAY_SERVICES_VERSION as the docs suggest but didn't work neither

[2018-01-14 00:04] Reactor13 commented on #149
+1

[2018-01-16 16:31] JakePrice86 commented on #149
The Google Mobile Ads SDK for Android is now a part of the Google Play services platform. It is no longer available as a standalone SDK. Therefore if you have the latest version of Google Play services you should be fine and dandy.

Just an FYI - version 7.0.0 of the Android Mobile SDK was released in March 2015, so I am sure the version you are running is a lot later than that

[2018-01-17 02:19] adoob commented on #149
@JakePrice86 I fear this update will breaks everything, because new ver of admob require new entity AppId that doesn't supported by this plugin. See google example https://github.com/googleads/googleads-mobile-android-examples/blob/master/java/admob/BannerExample/app/src/main/java/com/google/android/gms/example/bannerexample/MyActivity.java

[2018-01-17 09:15] JakePrice86 commented on #149
No - I don't think it will. As Google report, they will force you to use version 7, not the version you have quoted here.

[2018-01-17 09:58] adoob commented on #149
@JakePrice86 well, I have updated admob account to 2.0 and it breaks - no more ads showing. I only guess that it related with MobileAds.initialize func which missing in java code of plugin.

[2018-01-17 12:21] JakePrice86 commented on #149
I have also updated to the newest version of the admob account last month, and I still have adverts displaying

[2018-01-17 12:38] adoob commented on #149
Good for you :(

17 янв. 2018 г. 3:22 PM пользователь "Jake Price" <notifications@github.com>
написал:

I have also updated to the newest version of the admob account last month,
and I still have adverts displaying

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/ratson/cordova-plugin-admob-free/issues/149#issuecomment-358288273>,

[2018-01-17 15:27] rashnk opened #150 "Error in Cordova 7 ionic project"
Cordova 7 was released , i removed android platform and added again, removed admob-free plugin and added again, run cordova clean, and ran build command as
`ionic cordova build android`, now im getting error as in the image
![admob](https://user-images.githubusercontent.com/12730428/35050401-c199a5b0-fbc8-11e7-9b59-4b3c21b49409.PNG)
`**AdMob.java:27: error: package name.ratson.cordova.admob.banner

[2018-01-18 04:53] prantikv commented on #149
Is there a way to check and make sure of the version? or We just have to go by the date March 2015?

[2018-01-18 13:26] amokrunner commented on #121
Just saw this, maybe it can be of some reference to whomever works this issue: https://github.com/appfeel/admob-google-cordova/pull/93/commits/0bdea388a25cb59b887b5a99847470c76097cb81

[2018-01-18 13:30] BLukassen commented on #144
I have the same request. In the PluginCode I cant find any init of the MobileAds:
      MobileAds.initialize(this, "YOUR_ADMOB_APP_ID");
It seems it is missing.

[2018-01-18 13:37] wo-github commented on #149
Please have a look here https://github.com/ratson/cordova-plugin-admob-free/issues/144
The admob appId is a required field and this plugin doesn`t support this. Could you add this value?

[2018-01-18 16:47] JakePrice86 commented on #149
Not sure if this helps at all - but there is one way to check what version of the SDK you are using as far as I can tell:

1. Open devtools when you have your debug code running
2. Look for a webpage starting with "https://googleads.g.doubleclick.net" on your device. Thats your advert being loaded in
3. Inspect it
4. Re-request an advert, and you'll get a new network request. In the query string p

[2018-01-18 19:28] RenaudROHLINGER commented on #143
Temporally you can
```cordova plugin add https://github.com/RenaudROHLINGER/lycwed-cordova-plugin-admob-free```

my repo is fixed for the latest version. I can't really PR this repo atm since this is a specific cordova 8.0 issue

[2018-01-19 05:50] itsyub commented on #126
@pjoriginal You can set play service  version to "+" instead of specific version. As firebase plugin uses newer version of playservices. you need to set it to "+" , so that this plugin also use the same version which will be used by firebase plugin.
`<plugin name="cordova-admob-sdk" spec="~0.13.1">
    <variable name="PLAY_SERVICES_VERSION" value="+" />
</plugin>`.

I had the same issue with fireb

[2018-01-19 09:47] dsyech opened #151 "Ionic 3 : npm install admob-free UNMEET PEER DEPENDENCIES"
when I type : `npm install --save @ionic-native/admob-free`
it show :
[code]

[2018-01-19 11:33] X0t0 opened #152 "Nothing Shows up"
Hello , i'm facing this problem for 2 days now
my ads not showing up at all , when i use this package name "io.ionic.starter" it's work
but when i change it it doesn't, even if put a random package name like this : io.Unsdfsdfaqwz.starsdf
i tried like 16 package name but no one work , i though it's going to take time to showing up so i waited for 12 hours but still nothing shows up
`    @ionic/cli

[2018-01-19 17:20] RenaudROHLINGER commented on #150
Temporally you can
```cordova plugin add https://github.com/RenaudROHLINGER/lycwed-cordova-plugin-admob-free```

my repo is fixed for the latest version. I can't really PR this repo atm since this is a specific cordova 7.0 issue

[2018-01-21 05:10] prantikv commented on #147
I created a new app, just added the plugin to it and then built it then I get the following.
Note: Removing the plugin and building again does not give any error.

[code]

[2018-01-21 05:34] rashnk commented on #152
try` isTesting:true` in ad config

[2018-01-21 14:38] berlanga2008 commented on #143
Thanks a lot,
Now I can build my app

[2018-01-21 20:48] anacierdem commented on #133
It does work for me, how do you use it exactly?

[2018-01-21 20:49] anacierdem commented on #121
I have implemented a solution for my limited cases, may send a pull request if I find the time.

[2018-01-22 11:01] #133 closed

[2018-01-23 15:51] JakePrice86 commented on #149
Now the fated January 23rd is here has anyone's adverts turned off?

[2018-01-23 19:08] amirhammad commented on #148
are you waiting for the cordova ready event to resolve? It might be a race.

[2018-01-23 21:15] Sletheren commented on #129
Anybody has updates concerning this?

[2018-01-24 07:47] tominou commented on #148
Share your code, so we can help you better

[2018-01-24 13:02] rashnk commented on #129
i have updated few of my apps with latest cordova and latest of this plugin and uploaded to play store,
but all my apps still showing ads which im using its older version of this plugin

[2018-01-24 13:02] #129 closed

[2018-01-24 16:26] geniusbabak opened #153 "error: package name.ratson.cordova.admob.banner does not exist"
I was having this error:
`error: package name.ratson.cordova.admob.banner does not exist import name.ratson.cordova.admob.banner.Banner Executor;`

My problem solved with:

1. Remove cordova android from your app ionic cordova platform rm android;
2. Add cordova-android 6.3.0 cordova platform add android@6.3.0;

[2018-01-24 19:28] supermaker commented on #153
Very very thanks @geniusbabak

[2018-01-26 01:45] dawuwu commented on #153
"I managed to solve the issue by copying the sources from platforms/android/src/name/ratson/cordova/admob/* to platforms/android/app/src/main/java/name/ratson/cordova/admob/."

source:
https://forum.ionicframework.com/t/admobfree-error/116011/5

[2018-01-26 12:47] fmss7 opened #154 "cordova build android gives transformDexArchiveWithDexMergerForDebug eri"
I've already added cordova-plugin-admob-free to my Ionic-Cordova project but when I try ` ionic cordova run android` build fails with this message:

![1](https://user-images.githubusercontent.com/9075294/35440333-d8df926e-0296-11e8-82bf-4a61eafed757.png)
I've tried with `multiDexEnabled true` and deleting node_modules and then `npm install` but still the same problem.

Info:
[code]
Any ideas?

[2018-01-26 15:30] RenaudROHLINGER commented on #153
If you wants to you the latest version of cordova & cordova-android :
```cordova plugin rm cordova-plugin-admob-free``` -->
```cordova plugin add https://github.com/RenaudROHLINGER/lycwed-cordova-plugin-admob-free```

Repo is fixed for the latest version. I can't PR this repo at this moment since this is a specific cordova 8.0 issue

[2018-01-26 15:40] otrepdila opened #155 "Not working with Android!"
I'm trying to test my ionic application as a native app on Android.

I've tried running the command below as per the ionic documentation:  `ionic Cordova run android`

I tried it with ios and it's working perfectly` ionic Cordova run ios`, the simulator apper and the Admob test banner also.

But with the android, the build is failed because of that error!!
this is the error that appears:
[code]

[2018-01-26 16:49] RenaudROHLINGER commented on #155
If you wants to you the latest version of cordova & cordova-android :
```cordova plugin rm cordova-plugin-admob-free``` -->
```cordova plugin add https://github.com/RenaudROHLINGER/lycwed-cordova-plugin-admob-free```

Repo is fixed for the latest version. I can't PR this repo at this moment since this is a specific cordova 8.0 issue

[2018-01-26 16:57] RenaudROHLINGER commented on #155
Duplicate of #143

[2018-01-26 17:08] otrepdila commented on #155
it's working now 💯
thank you so much 👍

[2018-01-27 15:08] darkthsideous commented on #114
is there any update on this??

[2018-01-27 15:37] darkthsideous commented on #106
Ok is the general idea to use the paid one?

[2018-01-27 17:58] erperejildo commented on #106
@darkthsideous I tried the paid one but didn't work either (maybe it was me). Try it by yourself and give me a shout

[2018-01-27 18:43] wo-github commented on #106
After long discussion with Google Support, I have experienced, that they blocked our app and don`t deliver any banner.

[2018-01-27 20:11] darkthsideous commented on #106
@erperejildo @wo-github So you guys have any monetizing alternatives. i'm kinda stuck in the mud here

[2018-01-27 23:22] darkthsideous commented on #106
@erperejildo @wo-github  have you heard of Appodeal. I found a cordova plugin im debating whether to give it a try

[2018-01-28 11:38] erperejildo commented on #106
@wo-github I have exactly the same app working at the moment with an old version and still displaying banners with no problems. What did they exactly block?

@darkthsideous did you have a look to this? "a 4% rush fee applies". I think I'd rather expend more time looking for something 100% free.

Have you guys tried Facebook ads? https://github.com/floatinghotpot/cordova-plugin-facebookads

[2018-01-28 12:54] darkthsideous commented on #106
@erperejildo  your right. Which version are you using i just used cordova-admob-sdk 0.11.1 "AdMob SDK"
cordova-plugin-admob-free 0.11.0 “Cordova AdMob Plugin” still getting a blank white box

[2018-01-28 13:09] darkthsideous commented on #106
http://localhost:8080/var/containers/Bundle/Application/27869CEC-042E-4EFF-92D3-5BB011E3C995/NotMyApp.app/www/plugins/cordova-plugin-admob-free/www/admob.js.mapFailed to load resource: the server responded with a status of 404 (Not Found)

[2018-01-28 17:06] erperejildo commented on #106
I'm using 0.12. I'll try later on with the latest one.
Can't access to that url even using my local

[2018-01-28 18:06] darkthsideous commented on #106
Yeah thats the error i was getting in the console admob.js.map

[2018-01-28 19:26] wo-github commented on #106
@erperejildo they told us, that our app was blocked because the app was in violation of AdSense/AdMob program policies. But we get no mail and doesn`t know, what was the problem.

[2018-01-29 02:19] darkthsideous commented on #77
@merbin2012 @adappter did you ever get this resolved for IOS. Please share

[2018-01-29 09:39] erperejildo commented on #106
Ok, so you mean this library was blocked by Google then.
Doesn't make sense. So why are working my old apps using this library? Should we try with old versions?
I'll try Facebook ads when I have a chance, never tried them before.
Also we can try the paid one and edit the java file where is taking the fee. It's not a big deal.

@ratson, any news about this issue from you maybe?

[2018-01-29 11:42] aliloubm commented on #134
Add cordova-android 6.4.0 cordova platform add android@6.4.0;

[2018-01-29 11:43] Filavision commented on #134
Hallo!

Wir sind zur Zeit im Urlaub, weshalb sich unsere Antwort etwas verzögern kann.

Viele Grüße,
Dipl.-Ing. Vicki Langner & Steven Fiedler

Filavision Internetagentur
Fiedler & Langner GbR
Am Judenkirchhof 7
30167 Hannover

Tel: 0511/4742398
www.filavision.de

Diese E-Mail wurde automatisch erstellt.

[2018-01-29 21:50] darkthsideous commented on #106
@erperejildo hi Daniel and @wo-github the plugin works perfectly on android. Have you guys experienced any issues with ios

[2018-01-29 22:13] darkthsideous commented on #106
i am speaking with a couple folks on the ionic forum as well if you guys want a bit more insight https://forum.ionicframework.com/t/working-app-with-admob-free-plugin/110879/15

[2018-01-30 08:48] roshkesso opened #156 "Updating admob-sdk dependency to v0.14.0."
Hi @ratson,

I am using your plugin for both my iOS and Android app. (Thank you for your great work here).
However I am having an issue with the iOS version only.
I am just getting a blank white view.
Debugging in xcode I am seeing the callback fire:
(void)adView:(GADBannerView *)view didFailToReceiveAdWithError:(GADRequestError *)error
with the error:  Request Error: No ad to show.

I notice some

[2018-01-30 20:41] UltimateGemini opened #157 "Not working for iOS but it is for Android"
I have my isTesting: false and provided my Id. The test ads work but not the live ones.

When I run the app on my iphone X or my iPad, the banner shows white and not clickable and also the Interstitial ad is not showing up either when a button is clicked. After looking in the console log i see these errors:
......../www/plugins/cordova-plugin-admob-free/www/admob.js.map : Failed to load resource:

[2018-01-30 20:49] darkthsideous commented on #106
@erperejildo @wo-github hey guys. So the ads on my ios app just started working randomly. Like out of nowhere

[2018-01-31 11:13] ghost opened #158 "What?"
![captura de pantalla 2018-01-29 a las 18 39 51](https://user-images.githubusercontent.com/3317821/35620017-0efcb72c-0680-11e8-8665-40a596cd9e45.png)

[2018-01-31 21:15] Noel-F commented on #157
So after seeing a few issues posted in this repo, i'm guessing this issue still hasn't been fixed within the plugin?

[2018-02-01 04:23] ngoxuanhien opened #159 "Doesn't show banner with error TimeoutException"
Hello, I'm trying to show banner ads but it fails with errors:
`E/Ads: Error waiting for future.
                                                                            java.util.concurrent.ExecutionException: java.util.concurrent.TimeoutException
                                                                                at com.google.android.gms.internal.zzalf.get(Unknown Source)

[2018-02-02 07:20] roshkesso commented on #156
Just a quick update from a response from the Admob SDK team that the older SDK are still working fine so the issue wasn't with 7.26.

It would be great to get the latest SDK and also provide in the config a param for the App Id so you can initialize the SDK properly.

Cheers,
Rosh

[2018-02-02 09:45] erperejildo commented on #106
that's weird... you mean using this lib and not a new one? This Google...

I'm going to try Facebook ads this weekend just to consider a different option

[2018-02-02 10:27] MBuchalik opened #160 "Local development"
@ratson I wanted to add some small changes to your plugin (fork it, apply the changes, test it and then send a PR if it works). So I somehow need to fetch the files from my repo rather than from npm.

I am getting the same error as in #51.
Is there really no way to fetch the plugin from a git repo like you would normally do? How do you debug new changes locally? (Is there any reason why it is not

[2018-02-02 11:52] MBuchalik commented on #154
Are you using another plugin that adds Play Services to your app? In my case, it was caused by phonegap-plugin-push (version 1.10.5). To fix it, I manually added the following lines (the push plugin uses Play Services 11.x)
[code]

[2018-02-02 13:25] PratikPagada commented on #157
same issue

[2018-02-02 17:38] fmss7 commented on #154
Yes, I'm using cordova-plugin-firebase v0.1.25 in my project

[2018-02-03 15:05] MBuchalik commented on #154
Well then I'd suggest trying to find out the version of Play Services that are used in cordova-plugin-firebase. Then, you could try to use the approach mentioned above. I am not sure if it will work, but in my case, I was able fix the problem (with phonegap-plugin-push).

[2018-02-04 07:58] rweligamage commented on #157
same issue

[2018-02-04 08:29] mithunnick commented on #141
@azarus installing android@6.3.0 also solved my problem, Thnx bro

[2018-02-04 15:14] ratson opened #161 "FUND THIS PROJECT"
As state in README, this plugin is focusing on experience on Android, and it is not my best interest to support different use cases, I was hoping the community could help each other and more PRs are sent, clearly it did not work very well, this results in growing number of open issues. I would like to change the situation, I am wondering if there will be any financial support from the community.

[2018-02-05 01:13] Filavision opened #162 "Build faild on build.phonegap.com with phonegap version 8.0.0"
Build faild at build.phonegap.com with new phonegap version "cli-8.0.0" and cordova-plugin-admob-free version 0.13. from npm. Error log for android says:

`/app/src/main/java/name/ratson/cordova/admob/AdMob.java:27: error: package name.ratson.cordova.admob.banner does not exist
import name.ratson.cordova.admob.banner.BannerExecutor;
                                       ^
/app/src/main/java/name/

[2018-02-05 08:49] MBuchalik commented on #161
I have only been using your plugin for a week or so. My problem with adding and testing some small changes is: You cannot directly install this plugin from git. I like using PhoneGap Build for testing on real devices. This leads to problems if you actually have to call ``` npm install ``` before you can build the app. I don't know how many users of your plugin have the same problem (maybe it's jus

[2018-02-05 14:17] MBuchalik commented on #162
This could be related to #143 (but I am not sure about this).

[2018-02-05 15:08] darkthsideous commented on #106
So solution is see is basically hide the ad on ios till one becomes available. Thanks to @prwnstar42
roshkesh on the ionic forum

`- (void)adView:(GADBannerView *)view didFailToReceiveAdWithError:(GADRequestError *)error {
    [self __showAd:NO];
}
`

[2018-02-05 16:43] erperejildo commented on #106
Amazing workaround @darkthsideou! Can you make a PR maybe with that?
I think @ratson would appreciate it

What about btw with the interstitial ad?

[2018-02-06 02:28] bflopez commented on #161
With this being a "Ionic Native" plugin, does Ionic offer any type of support?

[2018-02-06 02:40] bflopez commented on #105
@ratson This is happening to me. Been using your plugin for awhile. Just started working on a new app and saw a Live Ad with the "Test Ad" button over it. Figured it was the new "Testing" until I saw this issue. Clicked the ad and it took me over to the App Store to install Uber. Pretty sure something is wrong. When I turn isTesting to false it shows the same ads but with no "Test Ad" button over

[2018-02-06 06:45] roshkesso opened #163 "iOS/xcode implementation not checking for nil forChild in __buildAdRequest"
Hi @ratson,

I was debugging the xcode prior to shipping as I was having some no fill errors. (I am still trying to figure them out with the admob support team). But I did notice my request was getting into:
  [request tagForChildDirectedTreatment:YES];
Yet I wasn't setting my ad for children.  I had left everything at the defaults.
self.forChild was nil but there was no check for it in the code.

[2018-02-06 14:56] kjartank13 opened #164 "Events undefined"
I'm having an issue wherein events appear as being undefined. What I've written so far is...
`admob.setOptions({
                isTesting: true,
                autoShow: false,
                publisherId: "<removed for copy/paste>",
                interstitialAdId: "<removed for copy/paste>"
            });`
`admob.interstitial.config({
                id: "<removed for copy/paste>"

[2018-02-09 01:28] luisameglio commented on #153
@dawuwu te mamaste!!! it worked!

[2018-02-09 07:34] piernik commented on #155
not working for me:/

[2018-02-12 09:24] le93us opened #165 "couldn't add plugin"
Hello;

`debian 9.3`, `node 9`, `npm 5.6`

when I execute command
[code]

I get next error
[code]

Can someone help to fix it?

[2018-02-12 15:19] erperejildo commented on #155
Is this other bug related?
https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2018-02-12 15:23] erperejildo commented on #152
Duplicated https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2018-02-12 15:23] erperejildo commented on #120
Duplicated https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2018-02-12 18:55] k00na commented on #162
This helped me pass this error:

https://forum.ionicframework.com/t/admobfree-error/116011/7

[2018-02-13 19:52] evertondanilo opened #166 "Can I only test the production banners after I release my app?"
Guys, sorry about this question, but I create an app that it is in develop mode until now, so I created the bannerAd config with  "isTesting=true". Now, I am trying to get a real Banner Ad from Admob server, then I changed the isTesting flag to false.
As a result, I'm getting the error message: "No Fill from Ad Server".

My question is: Can I only test the production banners after I release my app

[2018-02-13 21:34] lukasrms commented on #155
So, @otrepdila , once is working for you, what Cordova and Android platform are you using? How it looks to be related a especific combination of versions, have a environment like your may be helpful.

[2018-02-14 14:33] jensdev commented on #98
@realleoman did you manage to get this working?

[2018-02-14 23:01] loichnh commented on #143
You should try with old version of the plugin:

<plugin name="cordova-plugin-admob-free" spec="0.12.0" source="npm" />

Works for me :-)

[2018-02-15 08:10] le93us opened #167 "reward video doesn't displayed"
From chrome-remote-debug console:
[code]

What can cause this error?

[2018-02-15 08:10] #165 closed

[2018-02-16 11:50] le93us opened #168 "`cordova-andoid 7` unsupported?"
[code]

... and I get:
[code]

I get `cordova-android` v7.0, in your basic example - `6.4.0`.

As I understand, android 7 and higher are not supported?

Or this problem can be fixed?

[2018-02-16 12:18] liazbd commented on #168
same problem, looking for solution ..

[2018-02-16 20:16] le93us opened #169 "`basic` example with custom ads id - doesnt show ads"
Demo git repo
git@github.com:le93us/cordova-admob-bug-demo.git

Can someone help to fix it?

[2018-02-17 07:16] le93us commented on #169
There is [similiar](https://stackoverflow.com/questions/28539479/application-infinite-loop-with-processmessage-failed-error) problem.

On `cordova serve` there is infinite loop of displaying the message `process message failed ...`.

[2018-02-17 11:14] X0t0 commented on #168
same problem here

[2018-02-17 13:00] skekeu commented on #166
I have a similar issue.
No Ads displayed when isTesting is false, but I get no error at all. Any code I put inside the prepare() promise is fired , but no Ads displayed.

[2018-02-17 13:34] fthkrtl35 commented on #168
for now

copy to

[2018-02-17 13:34] skekeu commented on #157
Do your Ads still work in Android?
I have similar issue both on IOS and Android.

[2018-02-17 14:16] X0t0 opened #170 "I can't Build My app because of admob plugin"
Hello i don't know why but when i try to build my app without admob plugin , it's work fine but when i try to build it with the admob-free plugin it doesn't work and this is the error:

`Dex: Error converting bytecode to dex:
Cause: PARSE ERROR:
class name (com/google/android/gms/R$attr) does not match path (Com/google/android/gms/R$attr.class)
...while parsing Com/google/android/gms/R$attr.class

[2018-02-17 16:38] X0t0 commented on #168
@fthkrtl35  i did what wrote but i'm having this error now :
`Dex: Error converting bytecode to dex:
Cause: PARSE ERROR:
class name (com/google/android/gms/R) does not match path (Com/google/android/gms/R.class)
...while parsing Com/google/android/gms/R.class`

[2018-02-17 16:39] X0t0 commented on #143
@RenaudROHLINGER Bro i'm getting this error after doing the copy and past of folders
`Dex: Error converting bytecode to dex:
Cause: PARSE ERROR:
class name (com/google/android/gms/R) does not match path (Com/google/android/gms/R.class)
...while parsing Com/google/android/gms/R.class`

[2018-02-17 19:59] fthkrtl35 commented on #168
@X0t0 i think you take an error from another plugin

[2018-02-17 20:51] X0t0 commented on #168
@fthkrtl35  i think it's from admob sdk that installed with this plugin

[2018-02-17 20:56] X0t0 commented on #143
@itsyub Bro i'm getting this error after doing the copy and past of folders
`Dex: Error converting bytecode to dex: Cause: PARSE ERROR: class name (com/google/android/gms/R) does not match path (Com/google/android/gms/R.class) ...while parsing Com/google/android/gms/R.class`

[2018-02-18 17:23] erperejildo commented on #119
Ok, I ran `npm update` and tried again and everything is working again!!

[2018-02-18 17:43] erperejildo commented on #19
@ratson I'm facing the same issue right now

[2018-02-18 17:44] erperejildo commented on #112
This issue is not related to Ionic. Facing issue with latest version (0.14)

[2018-02-18 18:31] Noel-F commented on #157
For Android is does, but I removed the whole plugin.

[2018-02-18 20:20] X0t0 commented on #162
@k00na bro if you can help me i'm getting this error for 3 days and i don't know why :
`Dex: Error converting bytecode to dex: Cause: PARSE ERROR: class name (com/google/android/gms/base/R) does not match path (Com/google/android/gms/base/R.class) ...while parsing Com/google/android/gms/base/R.class`

[2018-02-18 20:41] k00na commented on #162
Hmm... i'm not sure if I can really help cuz I don't know the whole cause of your problem.

Based on your error i would try:
1)  chaning the first letter in the package name "Com/google/android/gms/base/R.class" to be lower case just as it is in the first package and remove .class at the end of it so you get com/google/android/gms/base/R
2) if that doesn't work it could be something with the dex t

[2018-02-18 20:50] X0t0 commented on #162
@k00na it doesn't the problem is i can build my app when i remove the admob free plugin , and when i add it i can't.

[2018-02-18 20:52] X0t0 commented on #162
@k00na  this is the whole error
![screenshot 2](https://user-images.githubusercontent.com/19890345/36356721-a36db2c8-14ed-11e8-94f9-f0893d1b0427.png)

[2018-02-18 22:35] X0t0 commented on #162
@k00na if you can share with your environment info , ionic info and what you’re installing in sdk , I think it’s problem related to sdk

[2018-02-19 00:07] skekeu commented on #157
I have it setup like:

[code]

Then I call it when platform is ready, like:
`this.showBannerAd();  `

But no matter what ... no ads displayed.
Am I missing something?

[2018-02-19 21:43] felix9607 opened #171 "Only Interstitial Ad shows Test Ad in Signed APK"
Hello,

I'm using the plugin in different apps always the same way and it works well.

Today i ran into a strange behavior of the Interstitial Ad.
When using
`ionic cordova run android --device`
everything is fine.

But when using `ionic cordova build android --prod --release` , signing the apk and publish it, the interstitial ad shows 'test ad'. There is also a banner ad working properly.

[code]

[2018-02-20 06:34] #171 closed

[2018-02-21 19:05] steinjonathan commented on #154
I'm still having this same problem.
I added this code that you mentioned @MBuchalik to de config.xml, but for me it doesn't work.

My error output:

Do you have an idea to help me?

[2018-02-21 19:33] steinjonathan commented on #154
Install the old version solved my problem!
https://github.com/ratson/cordova-plugin-admob-free/issues/141

[2018-02-21 19:39] steinjonathan opened #172 "Set position"
Is there a way to set the position of the banner?
I want to show it inside a div, on side of some other user infos.

[2018-02-22 09:03] MBuchalik commented on #172
I don't think that showing a banner inside a div (or any other HTML element) is possible - the banner isn't rendered in the DOM/WebView. I am not sure if it is currently possible to set a different banner location than very top/bottom of the screen.

[2018-02-22 09:10] MBuchalik commented on #154
@steinjonathan I assume that you don't want to use an older version of the plugin forever 😄. If so: Have a look at the list of plugins you have installed. One if them is probably using the Play Services. If you find the plugin, you can (maybe - I am not using Ionic) use a similar approach like the one I posted above. In order to find the plugin, you can simply remove a few and try to compile. If i

[2018-02-22 11:45] steinjonathan commented on #166
I'm having this same issue.
How did you @evertondanilo and @skekeu solved it?

[2018-02-22 12:12] skekeu commented on #166
Didn't solve this yet.
Still waiting for some update on this issue.

[2018-02-23 02:18] bflopez commented on #161
@ratson I was hoping more people would have commented on this by now... Have you made a decision what you are going to do? I would be willing to pay a reasonable monthly fee for you to make a paid version. Maybe if enough people paid this fee it would be worth it for you to work on? I know this project started because the lack of honesty in some of the other admob-plugins, one in particular with a

[2018-02-23 02:49] bflopez commented on #105
If anyone comes across this. Admob updated their code so that test ads will look like a real ads when testing on our phone. That is how this plugin is set up at least. As long as the label "Test Ad" is over the ad it is indeed a test ad. It used to be it showed the graphic indicating it was a test ad because it was pulling from Google's Test account. I believe this is correct after reading: https:

[2018-02-23 16:59] AcShadow opened #173 "banner load fail, got an error message, hope someone can help"
this is the error message returned.

`{"isTrusted":false,"error":3,"reason":"No Fill","adType":"banner"}`

also none of the ads are using testing ads. this worries me to continue testing.
here is the code:
[code]

just to be clear, the LOAD_FAIL event is firing every time. consistently.
I am able to display interstitial ads fine but they are not testing ads even after i set the config to isTesting

[2018-02-24 18:03] erperejildo commented on #119
...bad failing again   :(

[2018-02-25 11:34] mujaffars opened #174 "phonegap build not working with this plugin"
I am using admob-free since long but from Yesterday I am not able to create apk with phonegap build. I have added <gap:plugin name="cordova-plugin-admob-free" source="npm" /> in config.xml. But build giving below error

`/project/src/name/ratson/cordova/admob/banner/BannerListener.java:5: error: package com.google.android.gms.ads does not exist
import com.google.android.gms.ads.AdListener;

[2018-02-25 15:53] MBuchalik commented on #174
Which version of PGB are you using?
In your config.xml, look for a line looking like this:
[code]

[2018-02-26 08:14] mujaffars commented on #174
@MBuchalik I have not incuded that, But phonegap by default taking it as "cli-6.5.0 (4.3.1 / 6.1.2 / 4.4.3)", Did I need to specify specific version? Let me know

[2018-02-26 09:15] MBuchalik commented on #174
I have successfully created a (test) build using cli-7.1.0 and builder 2. Does that work for you as well? If not, try to remove all plugins except cordova-plugin-admob-free. Maybe, there is a conflict with another plugin?

[2018-02-26 10:31] mujaffars commented on #174
@MBuchalik using cli-7.1.0 and builder 2 Works. Thank you for helping

Closing this ticket

[2018-02-26 10:31] #174 closed

[2018-02-26 14:12] skekeu commented on #166
Finally I solved this issue!

Since my code seemed to be right, as the test Ads were working, I went back to my Admob account and found out that I had missing payment info.

As soon as I added my address on the payment page, my live Ads started being served.

I have tested my app on Android (emulator and device) and IOS (emulator only) and the Live Ads are being served with no problem on both.

[2018-02-26 15:50] evertondanilo commented on #166
I read on another site/thread that we need to verify the address on adsense page, then I checked this page here and I needed to verify my address as well.
Google will send a letter to my address with a PIN number...

I'm still waiting to get this pin and sort this issue.

[2018-02-26 16:15] skekeu commented on #166
I think my address was already verified with adsense, but still I had to add my address on Admob payment page.

[2018-02-27 01:49] totem2015 opened #175 "Why ads automatically pop up ,and ads are test mode"
I set the like this
               admob.banner.config({
                    id: 'ca-app-pub-7283507444107040/8635712814',
                                   isTesting: false,
                                   autoShow:false,
                });
but the ads automatically pop up and are test mode.
could anybody help me? thank you very much

[2018-02-27 08:09] totem2015 commented on #175
ios

[2018-02-27 15:43] hamdanihamza opened #176 "AdMob Free Plugin on Ionic 3"
Hey Everyone, i installed admob free plugin on my ionic 3 project, and typed this code
[code]

but the ads aren't showing ... i'm deploying on a real device with android version 6.0.

Hope to get some help, thanks !

[2018-03-01 01:22] prantikv commented on #176
Are you getting any errors? Ads take up some time to show if they are newly created ad units.

[2018-03-01 16:10] hamdanihamza commented on #176
@prantikv no its fixed thanks :D, i reinstalled the plugin and its working fine now !

[2018-03-02 06:10] pdonaire1 commented on #127
I think you need to set `{ id: adId,}` in the bannerConfig.

[2018-03-02 13:42] erperejildo commented on #119
App updated on Google Play and ads not working

[2018-03-02 13:43] erperejildo commented on #176
@hamdanihamza close the ticket if it's working.

Duplicated: https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2018-03-02 13:43] erperejildo commented on #173
Similar issue?
https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2018-03-02 13:47] erperejildo commented on #161
Honestly I think no one is going to fund this project being a paid version, but good luck anyway.
I can help with some code, I don't mind, and also with a lot of testing.

Has @bflopez commented I think we should get some help from Ionic. They also encourage people to use this version instead the other one (https://ionicframework.com/docs/native/admob-pro/)

[2018-03-02 13:48] erperejildo commented on #152
@X0t0 can you close this duplicated ticket and comment on one above please?

[2018-03-02 13:51] #176 closed

[2018-03-02 18:41] erperejildo commented on #172
This is not possible. The ad is created on top of the webview

[2018-03-02 18:42] erperejildo commented on #169
Duplicated https://github.com/ratson/cordova-plugin-admob-free/issues/119

[2018-03-03 01:16] rodriguesgm commented on #175
I'm having the same issue. My AdMobFreeBannerConfig is configure with autoShow=false. On Android, it works well but on iOS after calling banner.prepare(), it shows automatically the banner. Since autoShow is false, it should not start automatically.

admob Free version 0.14.0
last cordova, android, ionic, version

[2018-03-03 18:29] torelk commented on #173
i tried some of the solutions listed on that issue but none worked.
I created a new cordova android project to test with just this plugin and i was still having issues.
Then on a whim i changed the id of my banner ad to your id listed in your example, it **works perfectly**....
I then created a new banner ad and its **not working**. how am i creating ad units incorrectly?

[2018-03-03 18:42] AcShadow commented on #173
i tried some of the solutions listed on that issue but none worked.
I created a new cordova android project to test with just this plugin and i was still having issues.
Then on a whim i changed the id of my banner ad to the id listed in your example for the banner, it works perfectly....
I then created a new banner ad and its not working. how am i creating ad units incorrectly?

[2018-03-03 18:44] AcShadow commented on #173
ok so i messed around with the settings on admob for my banner ad unit, turns out automatic refresh was causing this issue or at least somewhat related as i had it on the setting "google optimized" and after changing to "disabled" the banner ad now displays. BUT it is still not in testing mode.

[2018-03-03 18:49] AcShadow commented on #173
Shall i close this issue to create a more accurate version?

[2018-03-03 19:05] Alpozt opened #177 "interstitial kills activity"
Hi, i've found an issue, not sure but it may be a bug.
Display an interstitial, click to ads, do not close chrome, press home button and go back to app. Now you cant close ads, even if you close there is only a black screen. I've tested on multiple devices and same result.

edit: It is not about this plugin, i've started blank new project added admob free, it worked well, and then added other plug

[2018-03-03 19:58] #177 closed

[2018-03-04 16:24] erperejildo commented on #119
I've been doing some workaround (again) with this.
- Installed Pro version: working
- After some changes: not working
- Removing Pro version and installing this one again: working (?)
- After some changes: not working

With "some changes" I just mean creating variables or something really stupid. It just makes no %$£%$% sense to me.

[2018-03-04 19:05] aabdolla commented on #143
So I also did this but now I am getting this error and not finding much on google about it:

error: cannot access zze
     isGpsAvailable = (GoogleApiAvailability.getInstance().isGooglePlayServicesAvailable(cordova.getActivity()) == ConnectionResult.SUCCESS);

class file for com.google.android.gms.common.zze not found

Anyone else get this?

[2018-03-04 19:10] aabdolla commented on #134
So when I switched to a lower version of android, I no longer get the admob error but now this error:

error: cannot access zze
        isGpsAvailable = (GoogleApiAvailability.getInstance().isGooglePlayServicesAvailable(cordova.getActivity()) == ConnectionResult.SUCCESS);
                                               ^
  class file for com.google.android.gms.common.zze not found

Anyone else enco

[2018-03-05 13:46] erperejildo commented on #119
Found this link:
https://support.google.com/admob/answer/7562314?ctx=email

[2018-03-06 02:20] totem2015 commented on #175
is your ad test-mode?

[2018-03-06 03:54] cyclonmaster opened #178 "Unity ads mediation support?"
I add unity ads as mediation in admob. Then I install

cordova-plugin-admobpro and work together with cordova-plugin-admob-unityads

to serve admob and unity ads mediation.

Now, I wonder is it really necessary to install cordova-plugin-admob-unityads if I want to server unity ads mediation through admob?

Now I want to migrate from cordova-plugin-admobpro to cordova-plugin-admob-free.

Does cordo

[2018-03-06 15:28] cmartinezv commented on #121
Removing statusbar plugin solved the issue.

ionic cordova plugin rm cordova-plugin-statusbar

[2018-03-06 15:29] cmartinezv commented on #107
Removing statusbar plugin solved the issue.

ionic cordova plugin rm cordova-plugin-statusbar

[2018-03-07 12:56] uncrabe commented on #119
Same issue here, but only with interstitials...

[2018-03-07 18:21] tennist commented on #143
To sum up everything, the fix for this issue is to change lines 48-56 in the plugin.xml file to
`<source-file src="src/android/banner" target-dir="app/src/main/java/name/ratson/cordova/admob" />
        <source-file src="src/android/interstitial" target-dir="app/src/main/java/name/ratson/cordova/admob" />
        <source-file src="src/android/rewardvideo" target-dir="app/src/main/java/name/ratson/

[2018-03-07 19:16] #143 closed

[2018-03-08 15:54] erperejildo commented on #119
@uncrabe you should have problem with both.

...the more time I spend looking into this the further away I feel to get a solution  :S

[2018-03-09 14:39] Tymofek commented on #166
I had no errors and no ad displayed.
Thx to @skekeu i went back to admob's site and there was a warning telling me to fill the address data.
in minutes i checked my app and yes there was an admob test ad.

checklist:

- [ ] you sign for adMob new account.
- [ ] need to set the payment info
- [ ] you need to create an ad (banner or others, you get an id here)
- [ ] use the simple code example for c

[2018-03-09 15:50] skekeu commented on #166
Nice @Tymofek !

[2018-03-09 16:06] erperejildo commented on #141
@azarus roll back to 6.3 is not a real solution. Unfortunately we need version 7 to display ads:
https://support.google.com/admob/answer/7562314?ctx=email

I've been dealing with this for a few days   :S

[2018-03-11 14:02] sashastg opened #179 "package com.google.android.gms.ads does not exist"
i had created new cordova project.
then  "cordova plugin add cordova-plugin-admob-free --save"

and i got errors, thats missed libs.
package com.google.android.gms.ads does not exist.
screenshot attached.

![screenshot at mar 11 16-01-59](https://user-images.githubusercontent.com/5595929/37254387-8dcf96f8-2545-11e8-8d86-193af7e635ac.png)

[2018-03-11 19:29] aabdolla commented on #121
I am not able to see the banner at all on an iPhone X. Anyone find a solution to this?

[2018-03-11 19:31] aabdolla commented on #157
Same issue here.

[2018-03-11 20:10] aabdolla commented on #121
@anacierdem Would you be able to post your solution? I am running into the issue of the banner not displaying at the bottom of an iPhone X but on all other iPhones.

[2018-03-13 10:03] zeroonea opened #180 "Does it support ad from other ad networks (configure in admob) like applovin?"

[2018-03-13 21:05] checosele commented on #157
Same issue, the first time that i opened the app on a device the advertisements were shown like test ads, but after the first time they don't appear, and how @aabdolla says there is a white bar where the advertisements have to be.

[2018-03-14 10:22] anacierdem commented on #121
I have changed resizeViews function in CDVAdMob.m as follows;

`- (void)resizeViews {
    // Frame of the main container view that holds the Cordova webview.
    CGRect pr = self.webView.superview.bounds, wf = pr;
    //NSLog(@"super view: %d x %d", (int)pr.size.width, (int)pr.size.height);

    // iOS7 Hack, handle the Statusbar
    BOOL isIOS7 = ([[UIDevice currentDevice].systemVersion floatValu

[2018-03-14 12:01] skekeu commented on #157
Guys,
Check on your admob accounts if you have informed your address at the payment page.
If you don't add your address there, the live ads won't be served.

That solved the issue for me.

[2018-03-14 15:11] Wolf00Bomber commented on #143
@rjoydip is the Fix applied to the plugin? If so close the Issue, else please keep it open.
We can't go through the Issues and find a fix and move on.
Wasted nearly 4 hours trying to find a solution to this published plugin :(

[2018-03-14 15:18] Wolf00Bomber commented on #143
Even now after using the above fix, its not fixed.

See Log:

Note: Some input files use or override a deprecated API.

Note: Recompile with -Xlint:deprecation for details.

:app:processDebugManifest

:app:processDebugResources

:app:generateDebugSources
:app:compileDebugNdk NO-SOURCE
:app:mergeDebugAssets

:app:processDebugJavaRes NO-SOURCE
:CordovaLib:transformClassesAndResourcesWithPrepareInter

[2018-03-15 14:01] SharkyPT opened #181 "Getting error "Can't find variable: admob""
Hi,

i'm testing this plugin in my app using PhoneGap.
When I use iOS i get the error "Can't find variable: admob". on initialization.
If I test using the browser (i know it does not wotk on browser), I do not get this error and the init works  ok.

On init i have something like:

`

        admob.interstitial.config(
        {
            id: admobid.interstitial,
            isTesting: true,

[2018-03-15 16:40] Om3s commented on #119
I have the same issue, I'm using ionic firebase and ionic native admob-free. Am not able to show interstitials only if I set isTesting = true.
The interstitial never gets ready, so it never shows up.

@erperejildo Have you found a solution yet?

[2018-03-15 17:00] erperejildo commented on #119
@Om3s my solution was install admob-pro.

When I tried it before it wasn't working either but only because (I don't know why) I need to install some specific plugins manually (like that one or the status bar). So give it a try

[2018-03-15 18:17] jensbrobak commented on #157
I experience the same issue. I can't seem to add payment options yet, due to being a new AdMob account and I haven't reached the minimum earnings limit yet, so the adding payment option button is greyed out for me.

[2018-03-15 19:59] Noel-F commented on #157
@skekeu

Just like @jensbrobak said, its not letting me since i have not met the minimum threshold. I'm not even using this plugin anymore. I removed it a few months ago when I was having the issue.

[2018-03-16 01:01] aabdolla opened #182 "Admob banner and setting safe-area-inset (iOS - iPhone X)"
Hello,

I am using the latest cordova, ionic and admob free plugin. I am running into the issue of the admob banner being blocked by the bottom corners rounding in on the iPhone X. How can I apply the safe-area-inset to the admob banner so I can bring it up a bit from the bottom? Should I be running into this issue?

Thanks!

[2018-03-16 04:30] aabdolla commented on #121
@anacierdem Thank you for sharing. I have made the changes to that file but they are not getting called. Do I need to do something special to get this code to be complied and used?

[2018-03-16 07:17] aabdolla commented on #161
I just tried out the admob-pro version tonight and loading a banner ad is brutal to the FPS. I show an ad on start up and it would be a terrible experience if I continued to use the pro version with the hit to performance. I am hoping to use this but currently running into iPhone X issues.

[2018-03-16 07:20] aabdolla commented on #175
That is weird, on iOS I am not running into that issue. Here is my code:

    let bannerConfig: AdMobFreeBannerConfig = {
            isTesting: true, // Remove in production
            autoShow: false,
            id: adId
        };

        this.admob.banner.config(bannerConfig);

        this.admob.banner.prepare().then(() => {
            if (showBanner) {
            	console.log("show bann

[2018-03-16 09:31] erperejildo commented on #119
I load my banner at beginning so I didn't face that (and if I do don't care too much as long it's the main page with the logo)

[2018-03-16 10:11] MBuchalik commented on #161
@aabdolla Personally, I would be really careful with the admob-pro plugin. It seems like the author is taking a few percent of your revenue.

[2018-03-16 10:17] aabdolla commented on #161
@MBuchalik Oh really? Even if you pay for the license?

[2018-03-16 10:25] MBuchalik commented on #161
@aabdolla I didn't know you are using a paid license. I am not using this plugin so I can't tell you if paying for a license will remove the ad sharing in all cases. That's something you should ask the author. (As far as I can see, the issues page was removed so it looks like you can't really ask questions there... Maybe, there is some sort of forum where you can ask this question...)
Anyways, usi

[2018-03-16 11:12] mujaffars commented on #164
I am also facing same issue, @kjartank13 did you find solution?

[2018-03-16 11:20] kjartank13 commented on #164
Yeah, I did. I edited the post, putting the solution at the bottom. The event names look like they should be variables, but they're actually strings. My issue was resolved by putting quotes around the event names.
So, `admob.interstitial.events.LOAD` becomes `"admob.interstitial.events.LOAD"`.

[2018-03-16 16:41] firesurf opened #183 "W/GenericAdPlugin: Invalid action passed: createBannerView"
The interstitial is working. But the banner never shows.
Logcat: W/GenericAdPlugin: Invalid action passed: createBannerView

[2018-03-16 16:48] ratson commented on #161
@aabdolla @MBuchalik Thank you for bring up the issue, I did not realize the links are broken, just updated the README to document what was there.

[2018-03-16 17:43] SharkyPT commented on #161
@ratson , This appears to be a great plugin but unfortunately I'm not able to make it working using phonegap and iOS (did not test Android yet). I agree with you and It would be great if someone could add the steps for this in phonegap. I use the Phonegap App on iOS to test before building and I have several plugins working in my app, but i cannot put this one to work, even with a blank App and yo

[2018-03-16 17:45] aabdolla commented on #119
@erperejildo Oh okay. How does it work on iPhone X? That is the only reason I would switch right now as I can't get the banner on the bottom to be above the round corners/safe area.

[2018-03-17 09:39] aabdolla commented on #157
@skekeu What are you using instead?

[2018-03-17 10:27] anacierdem commented on #121
Doing `cordova prepare` should update the code in the xcode project. If that doesn't work, you may try removing and adding the ios platform. Or just update the files inside platforms/ios/plugins.

[2018-03-17 10:28] anacierdem commented on #182
See #121

[2018-03-17 10:30] aabdolla commented on #121
Yeah, I figured out I had to edit the files in Xcode instead of a different editor. Thanks for the reply! Your update is working nicely in pushing the ad up. It just disappears when I rotate the phone from portrait to landscape. It doesn't come back when I flip it back either. Very odd.

[2018-03-17 10:37] anacierdem commented on #121
That does not cover rotation, let alone landscape mode.

[2018-03-17 10:59] aabdolla commented on #121
Oh jeez, okay I did not realize the complications I guess. Still trying to learn/figure out all this app business.

[2018-03-17 13:58] siauderman opened #184 "Live ads not showing"
Hi, I already put in a live ad code in the ID but my app still seems to show only test ads. Any idea why this could happen?

[2018-03-17 17:49] firesurf commented on #183
I think a lot of these issues are caused by Google AdMob. I didn't change anything and suddenly today everything works.

[2018-03-18 03:24] weltonpagassini opened #185 "Is it possible to display the interstitial ad during the splash screen?"
![unnamed](https://user-images.githubusercontent.com/37492656/37562240-823622a6-2a42-11e8-957c-4d16616157e4.jpg)
Is it possible to display the interstitial ad during the splash screen?
When you try to do this, it closes the splash screen and displays the home of the app before displaying the interstitial.